## Cleaning Chicago Marathon Data

Data from this will be used in Tableau

In [2]:
#Pandas library used for cleaning
import pandas as pd

In [108]:
#Importing csv with pace of all runners
df = pd.read_csv('pace_testset.csv')

In [109]:
df.head()

,Unnamed: 0,Name,Place Overall,sex,BIB,5k min/mile1,10k min/mile1,15k min/mile1,20k min/mile1,Half min/mile1,25k min/mile1,30k min/mile1,35k min/mile1,40k min/mile1,Finish min/mile1,Total Finish time
0,0,"Cherono, Lawrence (KEN)",1,M,4,4.45,4.45,4.45,4.47,4.45,4.50,4.51,4.48,4.55,4.50,2.095833
1,1,"Debela, Dejene (ETH)",2,M,38,4.45,4.45,4.45,4.47,4.44,4.49,4.51,4.48,4.55,4.52,2.096111
2,2,"Mengstu, Asefa (ETH)",3,M,5,4.45,4.45,4.45,4.47,4.44,4.49,4.51,4.48,4.55,4.53,2.096667
3,3,"Karoki, Bedan (KEN)",4,M,9,4.45,4.44,4.45,4.47,4.44,4.49,4.52,4.48,4.55,4.57,2.098056
4,4,"Abdi, Bashir (BEL)",5,M,10,4.46,4.44,4.48,4.53,4.57,4.57,5.00,4.48,4.43,4.40,2.103889

In [110]:
#Dropping unecessary column
df = df.drop(columns =['Unnamed: 0'])

In [114]:
#Importing full unencoded chicago marathon results
df2 = pd.read_csv('full_uneconded_results.csv')

/Users/johnvictorifermo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [115]:
df2.head()

,Unnamed: 0,Unnamed: 0.1,Name,BIB,Age Group,Age,Place gender,Place Age,Place Overall,Start Time,...,40k Time of Day,40k Time,40k Difference,40k min/mile,Finish,Finish Time of Day,Finish Time.1,Finish Difference,Finish min/mile,sex
0,0,0,"Cherono, Lawrence (KEN)",4,30-34,31,1,1,1,07:30:03,...,09:29:12AM,01:59:10,15:17,04:55,Finish,09:35:47AM,02:05:45,06:36,04:50,M
1,1,1,"Debela, Dejene (ETH)",38,20-24,24,2,1,2,07:30:03,...,09:29:10AM,01:59:08,15:15,04:55,Finish,09:35:48AM,02:05:46,06:39,04:52,M
2,2,2,"Mengstu, Asefa (ETH)",5,30-34,31,3,2,3,07:30:03,...,09:29:10AM,01:59:08,15:15,04:55,Finish,09:35:50AM,02:05:48,06:40,04:53,M
3,3,3,"Karoki, Bedan (KEN)",9,25-29,29,4,1,4,07:30:03,...,09:29:11AM,01:59:09,15:16,04:55,Finish,09:35:55AM,02:05:53,06:45,04:57,M
4,4,4,"Abdi, Bashir (BEL)",10,30-34,30,5,3,5,07:30:03,...,09:29:55AM,01:59:53,14:39,04:43,Finish,09:36:16AM,02:06:14,06:21,04:40,M

In [116]:
df2 = df2[['Start Time', 'Finish Time of Day', 'Finish Time.1']]

In [117]:
df2.head()

  Start Time Finish Time of Day Finish Time.1
0   07:30:03         09:35:47AM      02:05:45
1   07:30:03         09:35:48AM      02:05:46
2   07:30:03         09:35:50AM      02:05:48
3   07:30:03         09:35:55AM      02:05:53
4   07:30:03         09:36:16AM      02:06:14

In [118]:
result = pd.concat([df, df2], axis=1)

In [119]:
result.head()

,Name,Place Overall,sex,BIB,5k min/mile1,10k min/mile1,15k min/mile1,20k min/mile1,Half min/mile1,25k min/mile1,30k min/mile1,35k min/mile1,40k min/mile1,Finish min/mile1,Total Finish time,Start Time,Finish Time of Day,Finish Time.1
0,"Cherono, Lawrence (KEN)",1,M,4,4.45,4.45,4.45,4.47,4.45,4.50,4.51,4.48,4.55,4.50,2.095833,07:30:03,09:35:47AM,02:05:45
1,"Debela, Dejene (ETH)",2,M,38,4.45,4.45,4.45,4.47,4.44,4.49,4.51,4.48,4.55,4.52,2.096111,07:30:03,09:35:48AM,02:05:46
2,"Mengstu, Asefa (ETH)",3,M,5,4.45,4.45,4.45,4.47,4.44,4.49,4.51,4.48,4.55,4.53,2.096667,07:30:03,09:35:50AM,02:05:48
3,"Karoki, Bedan (KEN)",4,M,9,4.45,4.44,4.45,4.47,4.44,4.49,4.52,4.48,4.55,4.57,2.098056,07:30:03,09:35:55AM,02:05:53
4,"Abdi, Bashir (BEL)",5,M,10,4.46,4.44,4.48,4.53,4.57,4.57,5.00,4.48,4.43,4.40,2.103889,07:30:03,09:36:16AM,02:06:14

In [120]:
#Sorting values by Overall Place
df = result.sort_values(by=['Place Overall'])

In [121]:
#Testing if it works
df.tail(50)

,Name,Place Overall,sex,BIB,5k min/mile1,10k min/mile1,15k min/mile1,20k min/mile1,Half min/mile1,25k min/mile1,30k min/mile1,35k min/mile1,40k min/mile1,Finish min/mile1,Total Finish time,Start Time,Finish Time of Day,Finish Time.1
44640,"Garcia, Celia (MEX)",45443,F,30073,13.45,15.06,15.16,16.28,16.49,17.19,17.47,18.10,17.39,17.47,7.206944,08:00:33,03:17:11PM,07:16:39
44641,"Toledo, Isela (USA)",45444,F,35171,13.45,15.06,15.16,16.28,16.48,17.20,17.47,18.09,17.40,17.48,7.207222,08:09:51,03:27:03PM,07:17:13
24084,"Wilson, Andrew (USA)",45451,M,56124,27.10,13.32,13.48,14.42,14.01,14.58,15.36,16.08,16.47,15.32,7.210556,08:46:02,01:12:59PM,04:26:58
44642,"Rodriguez, Angelica (USA)",45454,F,35359,11.15,12.56,12.41,14.44,16.31,21.24,20.07,18.05,20.21,20.14,7.214167,08:11:04,03:28:46PM,07:17:42
44643,"Dodson, Tiara (USA)",45455,F,1770,11.41,13.14,13.46,15.04,14.29,16.58,17.55,18.50,22.40,22.22,7.216111,08:00:15,03:19:25PM,07:19:11
44644,"Kondrat, Elizabeth (USA)",45457,F,37037,13.55,14.13,15.36,15.36,17.23,16.43,17.27,19.41,18.37,17.00,7.217500,08:12:56,03:32:16PM,07:19:20
44645,"Kirk, Beverly (USA)",45458,F,41556,13.41,15.26,14.56,15.49,17.15,17.02,17.06,18.07,18.58,18.56,7.217500,08:12:56,03:32:16PM,07:19:20
24085,"Suarez, Francisco (USA)",45463,M,20594,13.48,16.01,14.36,17.59,15.11,18.26,17.00,16.48,18.12,17.13,7.230833,08:02:15,12:29:13PM,04:26:58
24086,"Kilchenmann, Stefan (SUI)",45471,M,59698,35.24,11.44,11.53,12.23,13.18,13.44,15.21,16.02,16.35,15.31,7.238611,08:36:05,01:03:03PM,04:26:58
44646,"Temelkovski, Shannon (USA)",45472,F,60820,12.40,14.21,16.09,16.21,16.11,17.50,18.10,18.15,18.43,17.38,7.240000,08:15:21,03:35:08PM,07:19:48
44647,"Andrade, Sonya (USA)",45476,F,34862,13.38,15.05,15.39,15.58,15.57,17.10,17.29,17.58,19.03,18.36,7.242222,08:10:16,03:30:46PM,07:20:31
24087,"Randall, Joshua (USA)",45478,M,63121,14.29,14.39,15.44,16.01,16.41,17.00,17.34,18.12,18.57,16.51,7.244444,08:04:54,12:31:52PM,04:26:58
24088,"Alba, Christian (USA)",45481,M,867,14.31,14.53,14.05,14.56,15.17,17.34,18.39,18.56,19.37,16.51,7.252500,07:43:00,12:09:58PM,04:26:59
24089,"Emrick, Andrew (USA)",45482,M,848,14.31,14.53,14.05,14.56,15.18,17.34,18.39,18.56,19.38,16.50,7.252500,08:08:16,12:35:15PM,04:26:59
44648,"Starke, Danielle (USA)",45483,F,890,14.31,14.53,14.05,15.00,15.00,17.34,18.39,18.56,19.38,16.51,7.252778,07:50:34,03:11:53PM,07:21:19
44649,"Acuna, Daniela (CRC)",45490,F,24813,13.15,14.43,15.37,17.07,16.57,16.55,18.19,18.41,18.06,17.09,7.261111,07:50:30,03:12:02PM,07:21:33
24090,"Nieves, Esteban (USA)",45496,M,11697,12.15,14.41,14.24,16.08,15.29,18.49,19.49,18.18,18.53,18.09,7.273889,08:36:15,01:03:14PM,04:26:59
24091,"Chaikouang, Robert (USA)",45500,M,28739,11.53,12.34,14.25,20.17,15.39,17.30,17.24,18.00,20.16,19.42,7.275833,08:54:27,01:21:26PM,04:26:59
44650,"Hampe, Elizabeth (USA)",45504,F,39445,13.21,15.20,15.07,16.55,17.46,16.46,17.40,18.31,18.38,18.20,7.277500,08:07:14,03:30:22PM,07:23:09
24092,"Martinez, Jesus (USA)",45509,M,32576,12.23,15.23,15.37,17.26,22.34,19.56,18.42,16.22,16.55,17.01,7.286944,08:08:16,12:35:15PM,04:27:00
44651,"Johnson, Beth (USA)",45512,F,33544,13.33,15.19,16.19,18.01,16.40,16.51,19.07,17.45,16.38,16.51,7.295000,08:11:20,03:34:37PM,07:23:17
44652,"Mendres, Mariav (USA)",45531,F,36026,15.24,16.14,15.27,16.06,16.28,17.24,17.56,17.56,17.39,17.04,7.319722,08:08:36,03:32:10PM,07:23:34
24093,"Price, Ron (USA)",45533,M,40515,12.40,13.19,14.28,14.03,14.49,23.52,18.52,18.29,20.04,17.24,7.322222,08:07:35,12:34:34PM,04:27:00
44653,"Smith, Christine (USA)",45534,F,40537,12.41,13.22,14.27,16.26,18.08,19.50,18.52,18.29,20.04,17.24,7.322222,07:41:07,03:05:51PM,07:24:45
24094,"Murphy, Paul (USA)",45537,M,37058,11.43,13.12,15.07,17.38,18.35,18.24,18.22,20.07,19.15,17.37,7.330000,08:14:30,12:41:29PM,04:27:00
24095,"Getueza, Eduardo (USA)",45540,M,40531,12.05,13.25,14.13,14.50,17.11,18.18,18.16,20.15,22.05,19.40,7.341944,08:15:19,12:42:19PM,04:27:00
24096,"Kodela, Krishna (IND)",45547,M,16908,13.01,12.27,13.53,17.07,17.21,17.07,18.06,20.11,20.47,21.24,7.355278,08:14:00,12:41:00PM,04:27:00
44654,"Mullery, Alisha (USA)",45552,F,15924,15.03,15.31,15.08,15.42,21.40,16.47,16.58,17.48,20.14,18.02,7.359167,08:00:25,03:25:40PM,07:25:15
24097,"Banda, Abel (USA)",45564,M,32253,11.24,13.41,12.49,20.03,17.52,17.43,18.21,21.12,19.09,18.49,7.385833,08:06:09,12:33:09PM,04:27:01
44655,"Choi, Soonyeon (KOR)",45566,F,39920,11.04,12.00,13.02,14.38,17.17,22.33,22.16,18.27,20.53,20.25,7.388056,08:09:48,03:35:07PM,07:25:19
44656,"Scott, Donna (USA)",45572,F,43999,15.08,15.03,15.39,16.32,15.52,18.05,17.32,18.12,19.25,17.28,7.392778,07:40:56,03:07:59PM,07:27:04
44657,"Puntillo, Kimi (USA)",45576,F,7725,14.22,17.16,15.02,16.44,24.02,16.23,19.13,17.41,17.33,16.35,7.412500,07:49:57,03:17:44PM,07:27:48
24098,"Samson, Christian (USA)",45582,M,28377,12.13,14.26,15.19,16.12,17.54,19.03,18.27,19.38,19.36,19.53,7.420833,08:42:15,01:09:16PM,04:27:01
44658,"Falvo, Franca Oreana (ITA)",45584,F,39642,16.05,16.23,16.07,16.07,15.50,16.15,17.30,18.01,18.56,18.22,7.421944,07:58:19,03:27:34PM,07:29:15
24099,"Jakubik, Richard (USA)",45600,M,5656,12.00,14.54,14.53,15.29,16.22,16.46,18.45,20.32,22.12,19.22,7.451111,08:05:26,12:32:27PM,04:27:01
44659,"Haro, Alma (USA)",45604,F,7129,11.15,12.22,13.53,15.05,13.20,20.34,22.01,22.14,19.44,19.38,7.463333,07:30:03,03:00:43PM,07:30:40
44660,"El Sherif Esposito, Rola (USA)",45613,F,31351,12.33,14.10,15.34,15.48,19.23,18.23,21.08,18.58,19.57,18.01,7.487500,07:52:36,03:24:54PM,07:32:18
44661,"Mcintyre, Kathryn (USA)",45617,F,40663,26.42,15.17,14.38,15.32,17.04,16.04,16.13,16.22,16.43,16.47,7.511111,08:00:46,03:34:59PM,07:34:14
44662,"Sun, Yu (CHN)",45633,F,14802,12.14,19.08,18.37,19.49,14.24,17.56,19.08,17.47,15.34,14.04,7.538333,07:51:53,03:28:34PM,07:36:42
44663,"Bogard, Patricia (USA)",45647,F,32380,13.59,15.54,15.31,16.54,17.37,17.42,18.51,19.42,19.42,18.16,7.570556,07:51:06,03:31:42PM,07:40:37
44664,"Akins, Larken (USA)",45656,F,19519,14.33,15.21,15.57,17.41,19.05,19.09,19.14,18.01,18.21,19.56,7.611667,07:30:03,03:10:54PM,07:40:52
24100,"Rivera, Aaron (MEX)",45674,M,15848,12.39,13.03,15.08,18.15,17.23,21.11,18.51,19.22,21.31,20.46,7.676944,08:42:01,01:09:02PM,04:27:01
44665,"Maciel, Susanna (USA)",45675,F,57141,33.59,11.41,12.44,13.29,14.04,23.56,15.25,15.40,16.51,15.23,7.681111,07:38:57,03:20:47PM,07:41:50
44666,"Munsayac, Julie (USA)",45681,F,13519,15.23,15.34,15.22,16.55,16.52,19.51,21.53,19.21,17.18,17.34,7.697222,07:43:27,03:27:51PM,07:44:25
24101,"Spijkerman, Maikel (NED)",45694,M,6786,12.48,14.50,15.37,17.01,19.45,18.13,21.16,17.59,24.00,16.57,7.740278,08:37:11,01:04:12PM,04:27:01
44667,"Cook-Glanton, Regina (USA)",45717,F,17383,14.07,16.06,15.24,17.40,15.44,19.38,18.16,23.14,20.17,16.24,7.817778,07:34:39,03:23:43PM,07:49:04
44668,"Kalenga, Jane (ZAM)",45730,F,908,15.32,17.27,17.50,16.59,39.00,18.58,17.50,19.01,17.37,14.40,7.871667,07:23:14,03:15:32PM,07:52:18
44669,"Driscoll, Natasha (USA)",45748,F,858,15.32,17.26,17.50,17.00,38.58,18.58,17.50,19.01,18.39,17.20,7.986111,07:23:16,03:22:26PM,07:59:10
44670,"Byrnes, Lauren (USA)",45749,F,855,15.32,17.24,17.51,17.00,38.56,18.59,17.50,19.01,18.38,17.23,7.986389,07:23:15,03:22:26PM,07:59:11
44671,"Smith, Julie (USA)",45750,F,862,15.32,17.24,17.51,17.00,38.56,18.58,17.50,19.01,18.38,17.23,7.986667,07:23:14,03:22:26PM,07:59:12

In [122]:
#Testing if it is sorted by Place Overall
df.head(50)

,Name,Place Overall,sex,BIB,5k min/mile1,10k min/mile1,15k min/mile1,20k min/mile1,Half min/mile1,25k min/mile1,30k min/mile1,35k min/mile1,40k min/mile1,Finish min/mile1,Total Finish time,Start Time,Finish Time of Day,Finish Time.1
0,"Cherono, Lawrence (KEN)",1,M,4,4.45,4.45,4.45,4.47,4.45,4.50,4.51,4.48,4.55,4.50,2.095833,07:30:03,09:35:47AM,02:05:45
1,"Debela, Dejene (ETH)",2,M,38,4.45,4.45,4.45,4.47,4.44,4.49,4.51,4.48,4.55,4.52,2.096111,07:30:03,09:35:48AM,02:05:46
2,"Mengstu, Asefa (ETH)",3,M,5,4.45,4.45,4.45,4.47,4.44,4.49,4.51,4.48,4.55,4.53,2.096667,07:30:03,09:35:50AM,02:05:48
3,"Karoki, Bedan (KEN)",4,M,9,4.45,4.44,4.45,4.47,4.44,4.49,4.52,4.48,4.55,4.57,2.098056,07:30:03,09:35:55AM,02:05:53
4,"Abdi, Bashir (BEL)",5,M,10,4.46,4.44,4.48,4.53,4.57,4.57,5.00,4.48,4.43,4.40,2.103889,07:30:03,09:36:16AM,02:06:14
5,"Tura, Seifu (ETH)",6,M,39,4.45,4.45,4.45,4.47,4.44,4.49,4.51,4.48,5.16,6.08,2.143056,07:30:03,09:38:37AM,02:08:35
6,"Chumba, Dickson (KEN)",7,M,6,4.45,4.45,4.45,4.47,4.44,4.49,4.51,4.59,5.22,5.57,2.153056,07:30:03,09:39:13AM,02:09:11
7,"Farah, Mo (GBR)",8,M,1,4.46,4.44,4.48,4.53,4.57,4.57,5.02,5.07,5.11,5.30,2.166111,07:30:03,09:40:00AM,02:09:58
8,"Riley, Jacob (USA)",9,M,16,5.00,4.58,5.00,5.00,5.02,5.01,5.04,4.59,4.56,4.50,2.176667,07:30:03,09:40:38AM,02:10:36
9,"Mock, Jerrell (USA)",10,M,36,5.01,4.58,5.00,5.00,5.02,5.00,5.05,4.59,4.56,4.50,2.176944,07:30:03,09:40:39AM,02:10:37
10,"Stinson, Parker (USA)",11,M,23,5.00,4.58,5.00,4.59,5.03,5.00,5.05,4.59,4.56,5.01,2.181389,07:30:03,09:40:55AM,02:10:53
11,"Bumbalough, Andrew (USA)",12,M,20,5.00,4.58,5.00,5.00,5.03,5.01,5.05,5.00,4.55,5.03,2.182222,07:30:03,09:40:58AM,02:10:56
12,"Oishi, Minato (JPN)",13,M,11,4.58,5.01,5.00,5.00,5.02,5.01,5.04,4.59,5.00,4.58,2.183889,07:30:03,09:41:04AM,02:11:02
13,"Mcdonald, Matthew (USA)",14,M,21,5.01,4.59,5.00,5.00,5.01,5.01,5.04,4.59,4.58,5.09,2.186111,07:30:03,09:41:12AM,02:11:10
14,"Smith, Scott (USA)",15,M,15,5.01,4.58,5.00,5.00,5.03,5.00,5.05,4.59,4.59,5.09,2.187222,07:30:03,09:41:16AM,02:11:14
15,"Gregg, Brendan (USA)",16,M,17,5.01,4.58,5.01,4.59,5.03,5.01,5.05,5.02,5.05,5.07,2.193889,07:30:03,09:41:41AM,02:11:38
16,"Droddy, Noah (USA)",17,M,25,5.00,4.59,5.00,5.00,5.02,5.01,5.04,5.02,5.06,5.07,2.195000,07:30:03,09:41:44AM,02:11:42
17,"Given, Wilkerson (USA)",18,M,24,5.01,4.59,5.00,5.00,5.01,5.01,5.04,5.02,5.05,5.11,2.195556,07:30:03,09:41:46AM,02:11:44
18,"Estrada, Diego (USA)",19,M,19,5.01,4.58,5.00,5.00,5.01,5.01,5.04,5.02,5.07,5.14,2.198333,07:30:03,09:41:56AM,02:11:54
19,"Hayakawa, Tsubasa (JPN)",20,M,14,4.58,5.01,5.00,5.00,5.03,5.01,5.04,5.02,5.09,5.33,2.206944,07:30:03,09:42:27AM,02:12:25
20,"Takeuchi, Ryoma (JPN)",21,M,12,5.00,4.59,5.00,5.00,5.03,5.01,5.04,5.03,5.16,5.14,2.207222,07:30:03,09:42:28AM,02:12:26
21,"Shrader, Brian (USA)",22,M,18,5.01,5.01,5.03,5.03,5.04,5.07,5.05,5.09,5.13,5.16,2.224167,07:30:03,09:43:29AM,02:13:27
24102,"Kosgei, Brigid (KEN)",23,F,101,4.59,5.09,5.09,5.10,5.12,5.12,5.05,5.08,5.08,5.03,2.234444,08:08:15,12:35:16PM,04:27:02
22,"Monroe, Alex (USA)",24,M,34,5.01,4.58,5.00,5.00,5.02,5.01,5.04,5.03,5.28,6.06,2.237500,07:30:03,09:44:06AM,02:14:04
23,"Kremske, Daniel (USA)",25,M,31,5.05,5.11,5.11,5.14,5.13,5.15,5.06,5.07,5.06,5.06,2.248056,07:30:03,09:44:17AM,02:14:15
24,"Medina, Oscar (MEX)",42,M,568,5.12,5.12,5.12,5.16,5.15,5.24,5.18,5.19,5.30,5.23,2.312500,07:30:03,09:44:55AM,02:14:53
25,"Campbell, Patrick (USA)",43,M,407,5.07,5.09,5.11,5.14,5.14,5.15,5.16,5.24,5.36,5.47,2.314167,07:30:03,09:48:48AM,02:18:45
26,"Lustgarten, Brett (USA)",44,M,32,5.12,5.11,5.12,5.11,5.10,5.11,5.19,5.29,5.36,5.35,2.316389,07:30:03,09:48:53AM,02:18:51
27,"Smith, Ryan (USA)",45,M,651,5.12,5.13,5.11,5.18,5.11,5.16,5.18,5.22,5.27,5.58,2.322778,07:30:03,09:49:01AM,02:18:59
28,"Gade, Noah (USA)",46,M,465,5.12,5.12,5.12,5.15,5.12,5.16,5.15,5.23,5.43,5.56,2.330556,07:30:03,09:49:24AM,02:19:22
29,"Bang, Eric (CAN)",47,M,370,5.12,5.12,5.12,5.16,5.15,5.25,5.24,5.28,5.31,5.34,2.332222,07:30:03,09:49:53AM,02:19:50
30,"Eaton, Michael (USA)",48,M,29,5.21,5.13,5.17,5.15,5.16,5.19,5.13,5.15,5.34,6.08,2.332778,07:30:03,09:49:58AM,02:19:56
31,"Thomas, Jason (USA)",49,M,665,5.21,5.19,5.18,5.23,5.20,5.21,5.23,5.23,5.26,5.26,2.341111,07:30:03,09:50:01AM,02:19:58
32,"Nally, Daniel (USA)",50,M,580,5.21,5.18,5.19,5.23,5.20,5.20,5.17,5.24,5.32,5.31,2.343889,07:30:03,09:50:31AM,02:20:28
24103,"Yeshaneh, Ababel (ETH)",51,F,106,5.02,5.17,5.16,5.17,5.21,5.28,5.26,5.32,5.31,5.55,2.347500,08:45:54,01:12:56PM,04:27:02
24104,"Burka, Gelete (ETH)",52,F,102,5.10,5.17,5.16,5.22,5.24,5.30,5.23,5.29,5.33,5.29,2.348611,08:36:18,01:03:20PM,04:27:02
33,"Craighead, Daniel (USA)",53,M,430,5.19,5.19,5.17,5.17,5.17,5.22,5.27,5.26,5.37,5.37,2.354167,07:30:03,09:50:40AM,02:20:38
34,"Hillard, Matthew (USA)",54,M,497,5.21,5.18,5.19,5.22,5.21,5.20,5.23,5.27,5.37,5.29,2.355556,07:30:03,09:50:53AM,02:20:51
35,"Chorney, Matt (USA)",55,M,417,5.22,5.18,5.18,5.23,5.21,5.20,5.17,5.26,5.41,5.43,2.357778,07:30:03,09:50:57AM,02:20:55
36,"Bramblett, Jordan (USA)",57,M,13197,5.04,5.05,5.03,5.22,5.28,5.29,5.38,5.40,5.52,5.37,2.361111,07:30:03,09:51:17AM,02:21:15
37,"Erskine, Andrew (USA)",58,M,457,5.21,5.18,5.19,5.22,5.21,5.20,5.23,5.27,5.38,5.43,2.361389,07:30:03,09:51:22AM,02:21:20
38,"Nelson, Aaron (USA)",59,M,582,5.15,5.18,5.17,5.18,5.20,5.16,5.19,5.29,5.48,6.03,2.361667,07:30:03,09:51:30AM,02:21:28
39,"Burkhardt, Glen (USA)",60,M,402,5.00,5.02,5.06,5.11,5.14,5.22,5.27,5.45,6.07,6.21,2.366111,07:31:14,09:52:54AM,02:21:40
40,"Guillen, Ramiro (USA)",61,M,475,5.08,5.13,5.14,5.17,5.21,5.28,5.26,5.38,5.50,5.51,2.366667,07:30:03,09:51:43AM,02:21:41
41,"Ripley, Zachary (USA)",62,M,619,5.23,5.17,5.19,5.23,5.21,5.20,5.17,5.17,5.41,6.36,2.369722,07:30:03,09:51:44AM,02:21:42
42,"Barker, Zachary (USA)",63,M,371,5.15,5.18,5.17,5.17,5.18,5.36,5.25,5.30,5.44,5.48,2.371667,07:30:03,09:52:00AM,02:21:58
43,"Hall, Benjamin (USA)",64,M,481,5.22,5.21,5.21,5.20,5.22,5.20,5.18,5.28,5.44,6.01,2.373333,07:30:03,09:52:02AM,02:22:00
44,"Rylaarsdam, Andrew (USA)",65,M,713,5.22,5.23,5.23,5.21,5.18,5.19,5.21,5.30,5.43,5.45,2.374167,07:30:03,09:52:14AM,02:22:11
45,"Rayner, Kenny (USA)",66,M,613,5.24,5.25,5.22,5.24,5.23,5.26,5.24,5.32,5.35,5.32,2.375278,07:30:03,09:52:20AM,02:22:18
46,"Ruth, Marius (NOR)",67,M,5060,5.19,5.17,5.20,5.24,5.35,5.35,5.27,5.28,5.37,5.39,2.375833,07:30:03,09:52:26AM,02:22:24

In [136]:
#Saving into a final csv
df.to_csv("final.csv")

In [123]:
df.shape

(44672, 18)

There are 18 features and over 44,672 runners in the Chicago 2019 Marathon

**Some exploratory analysis looking for how many nulls in dataframe**

Find how many missed timing matts

In [124]:
missed5k = df[(df['5k min/mile1']==0.00)]

In [125]:
len(missed5k)

84

84 missing first 5k split

In [126]:
missed10k = df[(df['10k min/mile1']==0.00)]
len(missed10k)

84

In [127]:
missed15k = df[(df['15k min/mile1']==0.00)]
len(missed15k)

8

In [128]:
missed20k = df[(df['20k min/mile1']==0.00)]
len(missed20k)

5

In [129]:
missedhalf = df[(df['Half min/mile1']==0.00)]
len(missedhalf)

5

In [130]:
missed25k = df[(df['25k min/mile1']==0.00)]
len(missed25k)

3

In [131]:
missed30k = df[(df['30k min/mile1']==0.00)]
len(missed30k)

3

In [132]:
missed35k = df[(df['35k min/mile1']==0.00)]
len(missed35k)

3

In [133]:
missed40k = df[(df['40k min/mile1']==0.00)]
len(missed40k)

2

Only 1 person has all splits missing

In [135]:
df.head()

,Name,Place Overall,sex,BIB,5k min/mile1,10k min/mile1,15k min/mile1,20k min/mile1,Half min/mile1,25k min/mile1,30k min/mile1,35k min/mile1,40k min/mile1,Finish min/mile1,Total Finish time,Start Time,Finish Time of Day,Finish Time.1
0,"Cherono, Lawrence (KEN)",1,M,4,4.45,4.45,4.45,4.47,4.45,4.50,4.51,4.48,4.55,4.50,2.095833,07:30:03,09:35:47AM,02:05:45
1,"Debela, Dejene (ETH)",2,M,38,4.45,4.45,4.45,4.47,4.44,4.49,4.51,4.48,4.55,4.52,2.096111,07:30:03,09:35:48AM,02:05:46
2,"Mengstu, Asefa (ETH)",3,M,5,4.45,4.45,4.45,4.47,4.44,4.49,4.51,4.48,4.55,4.53,2.096667,07:30:03,09:35:50AM,02:05:48
3,"Karoki, Bedan (KEN)",4,M,9,4.45,4.44,4.45,4.47,4.44,4.49,4.52,4.48,4.55,4.57,2.098056,07:30:03,09:35:55AM,02:05:53
4,"Abdi, Bashir (BEL)",5,M,10,4.46,4.44,4.48,4.53,4.57,4.57,5.00,4.48,4.43,4.40,2.103889,07:30:03,09:36:16AM,02:06:14

In [67]:
df2 = df2.sort_values('Place Overall')

In [68]:
df2.head(50)

,Unnamed: 0,Name,BIB,Age Group,Age,Place gender,Place Age,Place Overall,Start Time,Finish Time,...,40k Time of Day,40k Time,40k Difference,40k min/mile,Finish,Finish Time of Day,Finish Time.1,Finish Difference,Finish min/mile,sex
0,0,"Cherono, Lawrence (KEN)",4,30-34,31,1,1,1,07:30:03,02:05:45,...,09:29:12AM,01:59:10,15:17,04:55,Finish,09:35:47AM,02:05:45,06:36,04:50,M
1,1,"Debela, Dejene (ETH)",38,20-24,24,2,1,2,07:30:03,02:05:46,...,09:29:10AM,01:59:08,15:15,04:55,Finish,09:35:48AM,02:05:46,06:39,04:52,M
2,2,"Mengstu, Asefa (ETH)",5,30-34,31,3,2,3,07:30:03,02:05:48,...,09:29:10AM,01:59:08,15:15,04:55,Finish,09:35:50AM,02:05:48,06:40,04:53,M
3,3,"Karoki, Bedan (KEN)",9,25-29,29,4,1,4,07:30:03,02:05:53,...,09:29:11AM,01:59:09,15:16,04:55,Finish,09:35:55AM,02:05:53,06:45,04:57,M
4,4,"Abdi, Bashir (BEL)",10,30-34,30,5,3,5,07:30:03,02:06:14,...,09:29:55AM,01:59:53,14:39,04:43,Finish,09:36:16AM,02:06:14,06:21,04:40,M
5,5,"Tura, Seifu (ETH)",39,20-24,22,6,2,6,07:30:03,02:08:35,...,09:30:15AM,02:00:13,16:20,05:16,Finish,09:38:37AM,02:08:35,08:22,06:08,M
6,6,"Chumba, Dickson (KEN)",6,30-34,32,7,4,7,07:30:03,02:09:11,...,09:31:07AM,02:01:05,16:38,05:22,Finish,09:39:13AM,02:09:11,08:06,05:57,M
7,7,"Farah, Mo (GBR)",1,35-39,36,8,1,8,07:30:03,02:09:58,...,09:32:31AM,02:02:28,16:06,05:11,Finish,09:40:00AM,02:09:58,07:30,05:30,M
8,8,"Riley, Jacob (USA)",16,30-34,30,9,5,9,07:30:03,02:10:36,...,09:34:04AM,02:04:02,15:18,04:56,Finish,09:40:38AM,02:10:36,06:35,04:50,M
9,9,"Mock, Jerrell (USA)",36,20-24,24,10,3,10,07:30:03,02:10:37,...,09:34:04AM,02:04:02,15:18,04:56,Finish,09:40:39AM,02:10:37,06:36,04:50,M
10,10,"Stinson, Parker (USA)",23,25-29,27,11,2,11,07:30:03,02:10:53,...,09:34:05AM,02:04:03,15:19,04:56,Finish,09:40:55AM,02:10:53,06:50,05:01,M
11,11,"Bumbalough, Andrew (USA)",20,30-34,32,12,6,12,07:30:03,02:10:56,...,09:34:06AM,02:04:03,15:16,04:55,Finish,09:40:58AM,02:10:56,06:53,05:03,M
12,12,"Oishi, Minato (JPN)",11,30-34,31,13,7,13,07:30:03,02:11:02,...,09:34:18AM,02:04:15,15:31,05:00,Finish,09:41:04AM,02:11:02,06:47,04:58,M
13,13,"Mcdonald, Matthew (USA)",21,25-29,26,14,3,14,07:30:03,02:11:10,...,09:34:11AM,02:04:09,15:25,04:58,Finish,09:41:12AM,02:11:10,07:01,05:09,M
14,14,"Smith, Scott (USA)",15,20-24,23,15,4,15,07:30:03,02:11:14,...,09:34:15AM,02:04:13,15:27,04:59,Finish,09:41:16AM,02:11:14,07:02,05:09,M
15,15,"Gregg, Brendan (USA)",17,30-34,30,16,8,16,07:30:03,02:11:38,...,09:34:43AM,02:04:40,15:46,05:05,Finish,09:41:41AM,02:11:38,06:58,05:07,M
16,16,"Droddy, Noah (USA)",25,25-29,29,17,4,17,07:30:03,02:11:42,...,09:34:46AM,02:04:44,15:51,05:06,Finish,09:41:44AM,02:11:42,06:59,05:07,M
17,17,"Given, Wilkerson (USA)",24,25-29,28,18,5,18,07:30:03,02:11:44,...,09:34:42AM,02:04:40,15:46,05:05,Finish,09:41:46AM,02:11:44,07:04,05:11,M
18,18,"Estrada, Diego (USA)",19,25-29,29,19,6,19,07:30:03,02:11:54,...,09:34:48AM,02:04:46,15:51,05:07,Finish,09:41:56AM,02:11:54,07:09,05:14,M
19,19,"Hayakawa, Tsubasa (JPN)",14,25-29,29,20,7,20,07:30:03,02:12:25,...,09:34:54AM,02:04:52,15:58,05:09,Finish,09:42:27AM,02:12:25,07:34,05:33,M
20,20,"Takeuchi, Ryoma (JPN)",12,25-29,27,21,8,21,07:30:03,02:12:26,...,09:35:21AM,02:05:19,16:22,05:16,Finish,09:42:28AM,02:12:26,07:08,05:14,M
21,21,"Shrader, Brian (USA)",18,25-29,28,22,9,22,07:30:03,02:13:27,...,09:36:19AM,02:06:16,16:13,05:13,Finish,09:43:29AM,02:13:27,07:11,05:16,M
24102,0,"Kosgei, Brigid (KEN)",101,25-29,25,1,1,23,07:30:03,02:14:04,...,09:37:14AM,02:07:11,15:58,05:08,Finish,09:44:06AM,02:14:04,06:53,05:03,F
22,22,"Monroe, Alex (USA)",34,25-29,27,23,10,24,07:30:03,02:14:15,...,09:35:59AM,02:05:57,16:59,05:28,Finish,09:44:17AM,02:14:15,08:19,06:06,M
23,23,"Kremske, Daniel (USA)",31,30-34,30,24,9,25,07:30:03,02:14:53,...,09:37:58AM,02:07:56,15:50,05:06,Finish,09:44:55AM,02:14:53,06:57,05:06,M
24,24,"Medina, Oscar (MEX)",568,25-29,27,41,24,42,07:30:03,02:18:45,...,09:41:28AM,02:11:25,17:03,05:30,Finish,09:48:48AM,02:18:45,07:20,05:23,M
25,25,"Campbell, Patrick (USA)",407,20-24,24,42,6,43,07:30:03,02:18:51,...,09:41:00AM,02:10:58,17:23,05:36,Finish,09:48:53AM,02:18:51,07:53,05:47,M
26,26,"Lustgarten, Brett (USA)",32,25-29,29,43,25,44,07:30:03,02:18:59,...,09:41:25AM,02:11:23,17:22,05:36,Finish,09:49:01AM,02:18:59,07:37,05:35,M
27,27,"Smith, Ryan (USA)",651,20-24,24,44,7,45,07:30:03,02:19:22,...,09:41:16AM,02:11:14,16:56,05:27,Finish,09:49:24AM,02:19:22,08:08,05:58,M
28,28,"Gade, Noah (USA)",465,20-24,24,45,8,46,07:30:03,02:19:50,...,09:41:48AM,02:11:46,17:44,05:43,Finish,09:49:53AM,02:19:50,08:05,05:56,M
29,29,"Bang, Eric (CAN)",370,25-29,29,46,26,47,07:30:03,02:19:56,...,09:42:23AM,02:12:21,17:08,05:31,Finish,09:49:58AM,02:19:56,07:35,05:34,M
30,30,"Eaton, Michael (USA)",29,30-34,32,47,10,48,07:30:03,02:19:58,...,09:41:39AM,02:11:37,17:15,05:34,Finish,09:50:01AM,02:19:58,08:22,06:08,M
31,31,"Thomas, Jason (USA)",665,25-29,25,48,27,49,07:30:03,02:20:28,...,09:43:06AM,02:13:04,16:52,05:26,Finish,09:50:31AM,02:20:28,07:25,05:26,M
32,32,"Nally, Daniel (USA)",580,30-34,34,49,11,50,07:30:03,02:20:38,...,09:43:09AM,02:13:07,17:12,05:32,Finish,09:50:40AM,02:20:38,07:31,05:31,M
24103,1,"Yeshaneh, Ababel (ETH)",106,25-29,28,2,2,51,07:30:03,02:20:51,...,09:42:49AM,02:12:47,17:09,05:31,Finish,09:50:53AM,02:20:51,08:04,05:55,F
24104,2,"Burka, Gelete (ETH)",102,30-34,33,3,1,52,07:30:03,02:20:55,...,09:43:28AM,02:13:26,17:14,05:33,Finish,09:50:57AM,02:20:55,07:29,05:29,F
33,33,"Craighead, Daniel (USA)",430,25-29,29,50,28,53,07:30:03,02:21:15,...,09:43:39AM,02:13:36,17:26,05:37,Finish,09:51:17AM,02:21:15,07:39,05:37,M
34,34,"Hillard, Matthew (USA)",497,30-34,30,51,12,54,07:30:03,02:21:20,...,09:43:54AM,02:13:52,17:27,05:37,Finish,09:51:22AM,02:21:20,07:28,05:29,M
35,35,"Chorney, Matt (USA)",417,30-34,31,52,13,55,07:30:03,02:21:28,...,09:43:42AM,02:13:40,17:39,05:41,Finish,09:51:30AM,02:21:28,07:48,05:43,M
36,36,"Bramblett, Jordan (USA)",13197,20-24,22,54,9,57,07:31:14,02:21:40,...,09:45:15AM,02:14:01,18:12,05:52,Finish,09:52:54AM,02:21:40,07:39,05:37,M
37,37,"Erskine, Andrew (USA)",457,25-29,27,55,29,58,07:30:03,02:21:41,...,09:43:56AM,02:13:54,17:29,05:38,Finish,09:51:43AM,02:21:41,07:47,05:43,M
38,38,"Nelson, Aaron (USA)",582,25-29,27,56,30,59,07:30:03,02:21:42,...,09:43:30AM,02:13:28,18:01,05:48,Finish,09:51:44AM,02:21:42,08:14,06:03,M
39,39,"Burkhardt, Glen (USA)",402,25-29,26,57,31,60,07:30:03,02:21:58,...,09:43:21AM,02:13:18,19:0,06:07,Finish,09:52:00AM,02:21:58,08:40,06:21,M
40,40,"Guillen, Ramiro (USA)",475,35-39,37,58,4,61,07:30:03,02:22:00,...,09:44:04AM,02:14:02,18:08,05:50,Finish,09:52:02AM,02:22:00,07:58,05:51,M
41,41,"Ripley, Zachary (USA)",619,30-34,31,59,14,62,07:30:03,02:22:11,...,09:43:13AM,02:13:11,17:38,05:41,Finish,09:52:14AM,02:22:11,09:01,06:36,M
42,42,"Barker, Zachary (USA)",371,25-29,27,60,32,63,07:30:03,02:22:18,...,09:44:26AM,02:14:23,17:48,05:44,Finish,09:52:20AM,02:22:18,07:55,05:48,M
43,43,"Hall, Benjamin (USA)",481,30-34,30,61,15,64,07:30:03,02:22:24,...,09:44:15AM,02:14:13,17:49,05:44,Finish,09:52:26AM,02:22:24,08:12,06:01,M
44,44,"Rylaarsdam, Andrew (USA)",713,20-24,24,62,10,65,07:30:03,02:22:27,...,09:44:39AM,02:14:37,17:45,05:43,Finish,09:52:29AM,02:22:27,07:50,05:45,M
45,45,"Rayner, Kenny (USA)",613,25-29,29,63,33,66,07:30:03,02:22:31,...,09:45:01AM,02:14:59,17:19,05:35,Finish,09:52:33AM,02:22:31,07:33,05:32,M
46,46,"Ruth, Marius (NOR)",5060,25-29,26,64,34,67,07:31:14,02:22:33,...,09:46:04AM,02:14:51,17:26,05:37,Finish,09:53:46AM,02:22:33,07:43,05:39,M

In [72]:
df2.to_csv('full_uneconded_results.csv')

In [70]:
missing = df2[df2.values  == 'â€“']
len(missing)

795

In [73]:
df2.to_csv('Chi_final.csv')

In [74]:
df2.shape

(44672, 63)

In [75]:
df3.to_csv('final.csv')

In [80]:
df3 = df3.sort_values('Place Overall')

In [83]:
df3.head()

,Unnamed: 0,Name,BIB,Age Group,Age,Place gender,Place Age,Place Overall,Start Time,Finish Time,...,5k min/mile1,10k min/mile1,15k min/mile1,20k min/mile1,Half min/mile1,25k min/mile1,30k min/mile1,35k min/mile1,40k min/mile1,Finish min/mile1
0,0,"Cherono, Lawrence (KEN)",4,30-34,31,1,1,1,07:30:03,02:05:45,...,04.45,04.45,04.45,04.47,04.45,4.5,4.51,4.48,4.55,4.5
1,1,"Debela, Dejene (ETH)",38,20-24,24,2,1,2,07:30:03,02:05:46,...,04.45,04.45,04.45,04.47,04.44,4.49,4.51,4.48,4.55,4.52
2,2,"Mengstu, Asefa (ETH)",5,30-34,31,3,2,3,07:30:03,02:05:48,...,04.45,04.45,04.45,04.47,04.44,4.49,4.51,4.48,4.55,4.53
3,3,"Karoki, Bedan (KEN)",9,25-29,29,4,1,4,07:30:03,02:05:53,...,04.45,04.44,04.45,04.47,04.44,4.49,4.52,4.48,4.55,4.57
4,4,"Abdi, Bashir (BEL)",10,30-34,30,5,3,5,07:30:03,02:06:14,...,04.46,04.44,04.48,04.53,04.57,4.57,5,4.48,4.43,4.4

In [82]:
df3.to_csv('final.csv')

In [93]:
missing = df3[df3.values  == 'â€“']
len(missing)

0

In [94]:
missing = df3[df3.values  == "00:00"]
len(missing)

0

In [97]:
df3.isnull().sum()

Unnamed: 0          0
Name                0
BIB                 0
Age Group           0
Age                 0
                   ..
25k min/mile1       0
30k min/mile1       0
35k min/mile1       0
40k min/mile1       0
Finish min/mile1    0
Length: 73, dtype: int64

In [5]:
df = pd.read_csv('Chi_final.csv')

/Users/johnvictorifermo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Name,BIB,Age Group,Age,Place gender,Place Age,Place Overall,Start Time,...,40k Time of Day,40k Time,40k Difference,40k min/mile,Finish,Finish Time of Day,Finish Time.1,Finish Difference,Finish min/mile,sex
0,0,0,"Cherono, Lawrence (KEN)",4,30-34,31,1,1,1,07:30:03,...,09:29:12AM,01:59:10,15:17,04:55,Finish,09:35:47AM,02:05:45,06:36,04:50,M
1,1,1,"Debela, Dejene (ETH)",38,20-24,24,2,1,2,07:30:03,...,09:29:10AM,01:59:08,15:15,04:55,Finish,09:35:48AM,02:05:46,06:39,04:52,M
2,2,2,"Mengstu, Asefa (ETH)",5,30-34,31,3,2,3,07:30:03,...,09:29:10AM,01:59:08,15:15,04:55,Finish,09:35:50AM,02:05:48,06:40,04:53,M
3,3,3,"Karoki, Bedan (KEN)",9,25-29,29,4,1,4,07:30:03,...,09:29:11AM,01:59:09,15:16,04:55,Finish,09:35:55AM,02:05:53,06:45,04:57,M
4,4,4,"Abdi, Bashir (BEL)",10,30-34,30,5,3,5,07:30:03,...,09:29:55AM,01:59:53,14:39,04:43,Finish,09:36:16AM,02:06:14,06:21,04:40,M

In [7]:
df.shape

(44672, 64)

Chi_final.csv will be final csv used for Tableau Analysis