# Exploratory Data Analysis

Just exploring a small part of the data to get insight into what I want to find as an anomaly

All data has been scraped from the web

In [2]:
#Libraries used for EDA
import numpy as np
import matplotlib.pyplot as plt
from scipy.io import loadmat
import pandas as pd

In [3]:
#Exploring just a small set of marathon data.
df = pd.read_csv("4male_result.csv") #encoding="ISO-8859-1")  #To deal with encoding issues

In [4]:
#Seeing first 5 rows of data
df.head()

,Unnamed: 0,Name,BIB,Age Group,Age,Place gender,Place Age,Place Overall,Start Time,Finish Time,...,40K,40k Time of Day,40k Time,40k Difference,40k min/mile,Finish,Finish Time of Day,Finish Time.1,Finish Difference,Finish min/mile
0,0,"Turk, Matt (USA)",39595,25-29,29,15008,1729,23214,08:14:49,04:23:08,...,40K,12:25:57PM,04:11:08,31:55,10:16,Finish,12:37:57PM,04:23:08,12:0,08:48
1,0,"Sugden, John (USA)",23526,45-49,46,15009,2176,23216,08:18:21,04:23:09,...,40K,12:28:50PM,04:10:30,30:52,09:56,Finish,12:41:29PM,04:23:09,12:39,09:17
2,0,"Wojcikowski, Michal (USA)",21676,30-34,32,15010,2436,23217,07:45:22,04:23:09,...,40K,11:53:36AM,04:08:14,38:38,12:26,Finish,12:08:31PM,04:23:09,14:55,10:56
3,0,"Leffler, Dale (USA)",32279,45-49,49,15011,2177,23219,08:05:46,04:23:09,...,40K,12:12:39PM,04:06:54,37:24,12:02,Finish,12:28:54PM,04:23:09,16:15,11:55
4,0,"Andrade, Dalton (BRA)",45113,40-44,43,15012,2523,23221,08:42:38,04:23:09,...,40K,12:49:50PM,04:07:12,37:45,12:09,Finish,01:05:47PM,04:23:09,15:58,11:42

Get all the data types for the scraped data

In [5]:
df.dtypes

Unnamed: 0             int64
Name                  object
BIB                    int64
Age Group             object
Age                    int64
Place gender           int64
Place Age              int64
Place Overall          int64
Start Time            object
Finish Time           object
5k                    object
5k Time of Day        object
5k Time               object
5k Difference         object
5k min/mile           object
5k miles/h            object
10k                   object
10k Time of Day       object
10k Time              object
10k Difference        object
10k min/mile          object
10k miles/h           object
15K                   object
15k Time of Day       object
15k Time              object
15k Difference        object
15k min/mile          object
20K                   object
20k Time of Day       object
20k Time              object
                       ...
Half                  object
Half Time of Day      object
Half Time             object
Half Difference       object
Half min/mile         object
25K                   object
25k Time of Day       object
25k Time              object
25k Difference        object
25k min/mile          object
30K                   object
30k Time of Day       object
30k Time              object
30k Difference        object
30k min/mile          object
35K                   object
35k Time of Day       object
35k Time              object
35k Difference        object
35k min/mile          object
40K                   object
40k Time of Day       object
40k Time              object
40k Difference        object
40k min/mile          object
Finish                object
Finish Time of Day    object
Finish Time.1         object
Finish Difference     object
Finish min/mile       object
Length: 62, dtype: object

Most of data is in object form need to convert to datetime.time.    
Thinking I don't necessarily need all columns.    
Wondering, which columns I need.

In [6]:
from datetime import datetime
from dateutil.parser import parse
import pandas as pd

Getting just a dataframe of paces

In [7]:
pace = df[['Name','5k min/mile','10k min/mile','15k min/mile','20k min/mile','25k min/mile','30k min/mile','35k min/mile', '40k min/mile','Finish min/mile']]

In [8]:
pacelist = ['5k min/mile','10k min/mile','15k min/mile','20k min/mile','Half min/mile','25k min/mile','30k min/mile','35k min/mile','40k min/mile','Finish min/mile']

In [9]:
pacelist[0]

'5k min/mile'

In [10]:
type(pacelist)

list

In [11]:
pace.dtypes

Name               object
5k min/mile        object
10k min/mile       object
15k min/mile       object
20k min/mile       object
25k min/mile       object
30k min/mile       object
35k min/mile       object
40k min/mile       object
Finish min/mile    object
dtype: object

In [12]:
pace.to_csv(r'pace.csv')

In [13]:
testtime = "08:14:19"
dto = datetime.strptime(testtime, '%H:%M:%S').time()  #converted into time
print(dto)

08:14:19

In [14]:
df['5k min/mile']

0       09:50
1       11:01
2       08:58
3       09:00
4       08:41
5       09:29
6       09:31
7       09:03
8       09:36
9       09:43
10      08:34
11      08:59
12      08:34
13      09:33
14      08:53
15      09:30
16      09:14
17      09:30
18      09:44
19      09:05
20      08:25
21      08:23
22      09:55
23      07:58
24      08:55
25      09:56
26      08:55
27      09:27
28      09:25
29      09:05
        ...
4929    10:22
4930    10:34
4931    09:35
4932    11:44
4933    10:48
4934    10:50
4935    10:50
4936    10:42
4937    09:32
4938    07:33
4939    10:57
4940    10:26
4941    09:54
4942    10:20
4943    08:48
4944    09:39
4945    10:55
4946    10:43
4947    09:06
4948    09:58
4949    11:54
4950    10:38
4951    10:20
4952    10:16
4953    09:20
4954    11:12
4955    10:12
4956    09:34
4957    10:00
4958    10:08
Name: 5k min/mile, Length: 4959, dtype: object

Making a function to take all the pace that are objects and makeing it into a datetime

In [22]:
example = pacelist[0]

s = pace[example].apply(lambda x: x.split(":"))
example2 = df['Start Time']

s2 = example2.apply(lambda x: x.split(":"))
from itertools import zip_longest

time = pd.DataFrame.from_records(zip_longest(*s.values)).T
time.columns = ['minutes', 'seconds']
time = time.replace('â€“', '-999').astype(np.float)

# time2 = pd.DataFrame.from_records(zip_longest(*s.values)).T
# time2.columns = ['hours', 'minutes','seconds']
# time2 = time2.replace('â€“', '-999').astype(np.float)


time.head()

   minutes  seconds
0      9.0     50.0
1     11.0      1.0
2      8.0     58.0
3      9.0      0.0
4      8.0     41.0

In [23]:
print(s2)

0       [08, 14, 49]
1       [08, 18, 21]
2       [07, 45, 22]
3       [08, 05, 46]
4       [08, 42, 38]
5       [07, 39, 10]
6       [08, 14, 56]
7       [08, 39, 35]
8       [08, 16, 52]
9       [08, 45, 51]
10      [08, 09, 27]
11      [08, 05, 06]
12      [07, 51, 24]
13      [08, 38, 02]
14      [07, 52, 26]
15      [08, 35, 27]
16      [07, 52, 47]
17      [08, 35, 26]
18      [08, 06, 26]
19      [07, 49, 36]
20      [07, 34, 57]
21      [08, 38, 56]
22      [08, 35, 26]
23      [08, 35, 47]
24      [07, 44, 17]
25      [08, 12, 34]
26      [07, 44, 17]
27      [08, 14, 28]
28      [08, 35, 39]
29      [08, 11, 45]
            ...
4929    [08, 44, 08]
4930    [08, 43, 30]
4931    [08, 04, 57]
4932    [08, 41, 51]
4933    [08, 42, 05]
4934    [08, 43, 51]
4935    [08, 46, 19]
4936    [08, 56, 33]
4937    [08, 06, 44]
4938    [08, 04, 31]
4939    [08, 38, 52]
4940    [08, 41, 55]
4941    [08, 50, 39]
4942    [08, 52, 37]
4943    [08, 02, 58]
4944    [08, 15, 11]
4945    [08, 17, 34]
4946    [08, 15, 32]
4947    [08, 42, 24]
4948    [08, 51, 10]
4949    [08, 55, 00]
4950    [08, 13, 23]
4951    [08, 44, 10]
4952    [08, 36, 43]
4953    [08, 03, 18]
4954    [08, 42, 46]
4955    [08, 14, 13]
4956    [07, 51, 59]
4957    [08, 37, 24]
4958    [08, 42, 29]
Name: Start Time, Length: 4959, dtype: object

Function to convert pace

In [14]:
def paceconversion(x):
    for i in x:
#         pace[i]= pace[i].str.replace(':','.')
#         pace[i].convert_objects(convert_numeric=True)
        parts = np.array(pace[i].str.split(":").tolist())
        print(len(parts) == len(pace.index))
        minutes = pd.Series(parts[:,0]).astype(np.float).values
        seconds = pd.Series(parts[:,1]).astype(np.float).values
        pace[i] = minutes + seconds / 60

In [37]:
#paceconversion(pacelist)

In [16]:
pace.head() #Works

,Name,5k min/mile,10k min/mile,15k min/mile,20k min/mile,25k min/mile,30k min/mile,35k min/mile,40k min/mile,Finish min/mile
0,"Turk, Matt (USA)",09:50,10:02,09:38,09:46,10:08,10:41,10:32,10:16,08:48
1,"Sugden, John (USA)",11:01,10:04,09:42,09:43,09:41,10:07,09:44,09:56,09:17
2,"Wojcikowski, Michal (USA)",08:58,09:03,09:11,09:14,09:34,09:50,11:44,12:26,10:56
3,"Leffler, Dale (USA)",09:00,09:09,09:12,09:11,09:26,10:17,10:56,12:02,11:55
4,"Andrade, Dalton (BRA)",08:41,08:39,08:35,09:00,10:01,11:15,11:28,12:09,11:42

In [17]:
pace.dtypes  #Still objects

Name               object
5k min/mile        object
10k min/mile       object
15k min/mile       object
20k min/mile       object
25k min/mile       object
30k min/mile       object
35k min/mile       object
40k min/mile       object
Finish min/mile    object
dtype: object

In [18]:
pace.to_csv(r'pace.csv')

Decided to do a simple way to transform paces into float.  
Not correct way of doing things but allows me to play with data in tableau.

In [19]:
df['5k min/mile'] = df['5k min/mile'].str.replace(':','.') #Replace : to .
df['5k min/mile'].convert_objects(convert_numeric=True)  #Turn to float

/Users/johnvictorifermo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

0        9.50
1       11.01
2        8.58
3        9.00
4        8.41
5        9.29
6        9.31
7        9.03
8        9.36
9        9.43
10       8.34
11       8.59
12       8.34
13       9.33
14       8.53
15       9.30
16       9.14
17       9.30
18       9.44
19       9.05
20       8.25
21       8.23
22       9.55
23       7.58
24       8.55
25       9.56
26       8.55
27       9.27
28       9.25
29       9.05
        ...
4929    10.22
4930    10.34
4931     9.35
4932    11.44
4933    10.48
4934    10.50
4935    10.50
4936    10.42
4937     9.32
4938     7.33
4939    10.57
4940    10.26
4941     9.54
4942    10.20
4943     8.48
4944     9.39
4945    10.55
4946    10.43
4947     9.06
4948     9.58
4949    11.54
4950    10.38
4951    10.20
4952    10.16
4953     9.20
4954    11.12
4955    10.12
4956     9.34
4957    10.00
4958    10.08
Name: 5k min/mile, Length: 4959, dtype: float64

In [20]:
#Getting Finish Time column into a datetime format
df['Finish Time'] = pd.to_datetime(df['Finish Time'],format= '%H:%M:%S' ).dt.time

In [21]:
# Seeing if it fixed objects into datetime
df.dtypes

Unnamed: 0             int64
Name                  object
BIB                    int64
Age Group             object
Age                    int64
Place gender           int64
Place Age              int64
Place Overall          int64
Start Time            object
Finish Time           object
5k                    object
5k Time of Day        object
5k Time               object
5k Difference         object
5k min/mile           object
5k miles/h            object
10k                   object
10k Time of Day       object
10k Time              object
10k Difference        object
10k min/mile          object
10k miles/h           object
15K                   object
15k Time of Day       object
15k Time              object
15k Difference        object
15k min/mile          object
20K                   object
20k Time of Day       object
20k Time              object
                       ...
Half                  object
Half Time of Day      object
Half Time             object
Half Difference       object
Half min/mile         object
25K                   object
25k Time of Day       object
25k Time              object
25k Difference        object
25k min/mile          object
30K                   object
30k Time of Day       object
30k Time              object
30k Difference        object
30k min/mile          object
35K                   object
35k Time of Day       object
35k Time              object
35k Difference        object
35k min/mile          object
40K                   object
40k Time of Day       object
40k Time              object
40k Difference        object
40k min/mile          object
Finish                object
Finish Time of Day    object
Finish Time.1         object
Finish Difference     object
Finish min/mile       object
Length: 62, dtype: object

In [22]:
t = datetime.now().time()
seconds = (dto.hour * 60 + dto.minute) * 60 + dto.second  #To get time string into seconds

In [23]:
print(seconds)

29659

In [24]:
(8*60*60)+(14*60)+49  #Testing if accurate

29689

In [25]:
40.50/3.1  #Time diff divided by miles

13.064516129032258

In [26]:
x = 45.40/3.1  #min mile seems mostly accurate
print(x)

14.64516129032258

In [27]:
print(round(x, 2))

14.65

Will add temperature through day column to improve data.   
Thinking of currently using only pace min/mile as a good indicator.
Or take Difference between difference through seconds to show plus and negative at each 5k split.  
Will need to add half and 25k to get accurate 25k split.

In [28]:
print(df.isnull().sum())

Unnamed: 0            0
Name                  0
BIB                   0
Age Group             0
Age                   0
Place gender          0
Place Age             0
Place Overall         0
Start Time            0
Finish Time           0
5k                    0
5k Time of Day        0
5k Time               0
5k Difference         0
5k min/mile           0
5k miles/h            0
10k                   0
10k Time of Day       0
10k Time              0
10k Difference        0
10k min/mile          0
10k miles/h           0
15K                   0
15k Time of Day       0
15k Time              0
15k Difference        0
15k min/mile          0
20K                   0
20k Time of Day       0
20k Time              0
                     ..
Half                  0
Half Time of Day      0
Half Time             0
Half Difference       0
Half min/mile         0
25K                   0
25k Time of Day       0
25k Time              0
25k Difference        0
25k min/mile          0
30K                   0
30k Time of Day       0
30k Time              0
30k Difference        0
30k min/mile          0
35K                   0
35k Time of Day       0
35k Time              0
35k Difference        0
35k min/mile          0
40K                   0
40k Time of Day       0
40k Time              0
40k Difference        0
40k min/mile          0
Finish                0
Finish Time of Day    0
Finish Time.1         0
Finish Difference     0
Finish min/mile       0
Length: 62, dtype: int64

In [29]:
print(df.isnull().values.sum())  #NO nulls

0

## Ideas for project

Analytics with context    
Blend the Data, Technology, Subject  Matter Expertise and Analytics in a consumable way to guide actions to
drive Operational Discipline

How to find cheaters look at pace between split points, review missed split points.  
Explain timing chips.  Timing chips are typically encased in a hard plastic ring and   
given to each runner in their race packet prior to the event. The morning of the race,   
marathoners tie the ring into their shoelaces. Meantime, antennas sheathed in wide,   
rubber mats are positioned along the course. When the marathoner steps on the rubber mat   
across the starting line, his individual chip is electronically recognized by the timing  
system, and his time begins [source: Sinha]. Likewise, any time he or she steps on one of   
the specialty mats along the course, a computer records the accumulated time to that point in the race.

# Ideas to visualize
Geocoding the locations of split spots
Create a dashboard story for project.
Work on Powerbi
Infographic for project

Pick out a name and show graph of splits    
Difference between male and female  
Difference in age groups  
Use pace to do anomaly detection  
Gif or video of people in china cheating in marathon by taking shortcut  
Get a model prediction with the data but only include first 35k and see accuracy of model  
Failure rate for timing chips when crossing mat  
Clusters
Null values, missed mats
Get Average
Cheat/Not cheat clasification.

start  41.8830344,-87.6158958,15.84  
5k     41.8896808,-87.6300552,17.4  
10k    41.9314115,-87.6371737,16.58  
15k    41.9328129,-87.6397928,16.5  
20k    41.8918869,-87.6351928,17  
25k    41.8829413,-87.6524877,15  
30k    41.8617863,-87.6588821,15  
35k    41.8505029,-87.6426171,15  
40k    41.8505029,-87.6426171,15  
finish 41.8725803,-87.6251964,15

In [30]:
#Geocoded data in case I want to map the Chicago marathon route
data = [['start', 41.8830344,-87.6158958],['5k', 41.8896808, -87.6300552], ['10k', 41.9314115,-87.6371737],['15k', 41.9328129,-87.6397928],
['20k', 41.8918869, -87.6351928],['25k', 41.8829413,-87.6524877],['30k', 41.8617863,-87.6588821], ['35k', 41.8505029,-87.6426171],['40k', 41.8505029,-87.6426171],
['42k', 41.8725803,-87.6251964]]

In [31]:
# Create the pandas DataFrame 
dfgeo = pd.DataFrame(data, columns = ['Distance', 'Lat', 'Long'])

In [32]:
dfgeo

  Distance        Lat       Long
0    start  41.883034 -87.615896
1       5k  41.889681 -87.630055
2      10k  41.931412 -87.637174
3      15k  41.932813 -87.639793
4      20k  41.891887 -87.635193
5      25k  41.882941 -87.652488
6      30k  41.861786 -87.658882
7      35k  41.850503 -87.642617
8      40k  41.850503 -87.642617
9      42k  41.872580 -87.625196

In [33]:
dfgeo.to_csv(r'geocoded_chi.csv')

In [34]:
ls

4male_result.csv*           Preprocess_data.ipynb
Anomaly_prediction.ipynb    Scraping_chicago_marathon/
Clustering_Learning.ipynb   full_uneconded_results.csv
Combine_datasets/           fullpace_uneconded.csv
Final_project.ipynb         geocoded_chi.csv
Images/                     pace.csv

In [39]:
#Quick exploratory of data
uedf = pd.read_csv("full_uneconded_results.csv")

In [40]:
uedf.head()

,Unnamed: 0,Name,BIB,Age Group,Age,Place gender,Place Age,Place Overall,Start Time,Finish Time,...,40k Time of Day,40k Time,40k Difference,40k min/mile,Finish,Finish Time of Day,Finish Time.1,Finish Difference,Finish min/mile,sex
0,0,"Cherono, Lawrence (KEN)",4,30-34,31,1,1,1,07:30:03,02:05:45,...,09:29:12AM,01:59:10,15:17,04:55,Finish,09:35:47AM,02:05:45,06:36,04:50,M
1,1,"Debela, Dejene (ETH)",38,20-24,24,2,1,2,07:30:03,02:05:46,...,09:29:10AM,01:59:08,15:15,04:55,Finish,09:35:48AM,02:05:46,06:39,04:52,M
2,2,"Mengstu, Asefa (ETH)",5,30-34,31,3,2,3,07:30:03,02:05:48,...,09:29:10AM,01:59:08,15:15,04:55,Finish,09:35:50AM,02:05:48,06:40,04:53,M
3,3,"Karoki, Bedan (KEN)",9,25-29,29,4,1,4,07:30:03,02:05:53,...,09:29:11AM,01:59:09,15:16,04:55,Finish,09:35:55AM,02:05:53,06:45,04:57,M
4,4,"Abdi, Bashir (BEL)",10,30-34,30,5,3,5,07:30:03,02:06:14,...,09:29:55AM,01:59:53,14:39,04:43,Finish,09:36:16AM,02:06:14,06:21,04:40,M

In [1]:
#Dropping unecessary columns
#uedf = uedf.drop(columns =['Unnamed: 0'])

In [43]:
paceue = uedf[['Name','sex', 'Start Time','Finish Time of Day','5k min/mile','10k min/mile','15k min/mile','20k min/mile', 'Half min/mile','25k min/mile','30k min/mile','35k min/mile', '40k min/mile','Finish min/mile']]

In [44]:
paceue.head()

,Name,sex,Start Time,Finish Time of Day,5k min/mile,10k min/mile,15k min/mile,20k min/mile,Half min/mile,25k min/mile,30k min/mile,35k min/mile,40k min/mile,Finish min/mile
0,"Cherono, Lawrence (KEN)",M,07:30:03,09:35:47AM,04:45,04:45,04:45,04:47,04:45,04:50,04:51,04:48,04:55,04:50
1,"Debela, Dejene (ETH)",M,07:30:03,09:35:48AM,04:45,04:45,04:45,04:47,04:44,04:49,04:51,04:48,04:55,04:52
2,"Mengstu, Asefa (ETH)",M,07:30:03,09:35:50AM,04:45,04:45,04:45,04:47,04:44,04:49,04:51,04:48,04:55,04:53
3,"Karoki, Bedan (KEN)",M,07:30:03,09:35:55AM,04:45,04:44,04:45,04:47,04:44,04:49,04:52,04:48,04:55,04:57
4,"Abdi, Bashir (BEL)",M,07:30:03,09:36:16AM,04:46,04:44,04:48,04:53,04:57,04:57,05:00,04:48,04:43,04:40

In [47]:
#Paceconversion function
def paceueconversion(x):
    for i in x:
        paceue[i]= paceue[i].str.replace(':','.')
        #pace[i].convert_objects(convert_numeric=True)

In [48]:
paceueconversion(pacelist)

/Users/johnvictorifermo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [49]:
paceue.head()

,Name,sex,Start Time,Finish Time of Day,5k min/mile,10k min/mile,15k min/mile,20k min/mile,Half min/mile,25k min/mile,30k min/mile,35k min/mile,40k min/mile,Finish min/mile
0,"Cherono, Lawrence (KEN)",M,07:30:03,09:35:47AM,04.45,04.45,04.45,04.47,04.45,04.50,04.51,04.48,04.55,04.50
1,"Debela, Dejene (ETH)",M,07:30:03,09:35:48AM,04.45,04.45,04.45,04.47,04.44,04.49,04.51,04.48,04.55,04.52
2,"Mengstu, Asefa (ETH)",M,07:30:03,09:35:50AM,04.45,04.45,04.45,04.47,04.44,04.49,04.51,04.48,04.55,04.53
3,"Karoki, Bedan (KEN)",M,07:30:03,09:35:55AM,04.45,04.44,04.45,04.47,04.44,04.49,04.52,04.48,04.55,04.57
4,"Abdi, Bashir (BEL)",M,07:30:03,09:36:16AM,04.46,04.44,04.48,04.53,04.57,04.57,05.00,04.48,04.43,04.40

In [50]:
paceue.to_csv(r'fullpace_uneconded.csv')

In [51]:
paceue.dtypes

Name                  object
sex                   object
Start Time            object
Finish Time of Day    object
5k min/mile           object
10k min/mile          object
15k min/mile          object
20k min/mile          object
Half min/mile         object
25k min/mile          object
30k min/mile          object
35k min/mile          object
40k min/mile          object
Finish min/mile       object
dtype: object

In [52]:
paceue.isna().sum()

Name                  0
sex                   0
Start Time            0
Finish Time of Day    0
5k min/mile           0
10k min/mile          0
15k min/mile          0
20k min/mile          0
Half min/mile         0
25k min/mile          0
30k min/mile          0
35k min/mile          0
40k min/mile          0
Finish min/mile       0
dtype: int64

## Trying to find possible bib mules in data.  
Bib mules are those that have will carry someone elses big across the finish line along with their own bib.  
Should find people with same timing splits in data.

In [56]:
#Find possible bib mules
# Select all duplicate rows based on one column
nameRowsDF = paceue[paceue.duplicated(['Name'])]
print("Duplicate Rows based on 1 columns are:", nameRowsDF, sep='\n')

Duplicate Rows based on 1 columns are:
                               Name sex Start Time Finish Time of Day  \
1034             Walsh, Brian (USA)   M   07:31:52         10:26:38AM
2852           Garcia, Miguel (USA)   M   07:32:24         10:43:01AM
3690               Lang, Paul (USA)   M   07:35:22         10:52:24AM
3859                Wang, Hao (CHN)   M   07:33:57         10:52:20AM
3981                Kim, Mark (USA)   M   07:34:20         10:53:37AM
4026              Jiang, Jing (CHN)   M   07:47:50         11:07:25AM
4191           Murphy, Andrew (USA)   M   07:47:43         11:08:34AM
4308              Bailey, Dan (USA)   M   07:34:22         10:55:56AM
4707           Mcgrath, David (USA)   M   07:37:42         11:01:49AM
4857           Mcgrath, David (USA)   M   07:38:31         11:03:31AM
4858              Smith, Matt (USA)   M   07:33:50         10:58:50AM
4951            James, Andrew (USA)   M   07:48:51         11:14:21AM
5237           Miller, Andrew (USA)   M   07:37:56         11:05:10AM
5289         Kim, Christopher (USA)   M   07:41:51         11:09:22AM
5437          Sanchez, Arturo (MEX)   M   07:36:44         11:05:02AM
5724            Johnson, Joel (USA)   M   08:00:11         11:29:51AM
5794            Smith, Andrew (USA)   M   07:52:43         11:22:42AM
5958           Murphy, Andrew (USA)   M   07:35:47         11:06:50AM
5983          Garcia, Antonio (ESP)   M   08:03:52         11:35:05AM
6043            Padilla, Luis (MEX)   M   07:43:51         11:15:29AM
6684        Gonzalez, Ricardo (MEX)   M   08:11:27         11:47:18AM
7567          Garcia, Antonio (USA)   M   07:51:12         11:32:24AM
7791            Bader, Daniel (USA)   M   07:48:10         11:30:41AM
7880            Johnson, Eric (USA)   M   08:00:34         11:43:33AM
7886           Stephens, Paul (GBR)   M   07:40:43         11:23:44AM
7898          Hernandez, Jose (USA)   M   07:47:45         11:30:51AM
8137           Nieves, George (USA)   M   07:51:25         11:35:47AM
8261            Ramirez, Jose (USA)   M   08:02:30         11:47:36AM
8440              Kelly, Liam (USA)   M   07:47:39         11:33:41AM
8589           Mendez, Miguel (USA)   M   07:41:25         11:28:23AM
...                             ...  ..        ...                ...
41425           Correa, Maria (USA)   F   08:50:23         02:33:22PM
41454          Alfano, Nicole (USA)   F   08:50:51         02:34:16PM
41489         Mitchell, Janet (USA)   F   08:55:27         02:39:18PM
41541                Wang, Lu (CHN)   F   08:52:46         02:37:17PM
41586         Martinez, Nancy (USA)   F   08:09:45         01:54:45PM
41614               Sun, Lili (CHN)   F   08:38:48         02:24:11PM
41738         Garcia, Jessica (USA)   F   07:35:41         01:22:50PM
41803           Garcia, Sonia (USA)   F   08:55:00         02:43:00PM
41934       Miller, Katherine (USA)   F   08:57:23         02:47:12PM
42134        Martinez, Monica (USA)   F   08:55:08         02:47:35PM
42265       Miller, Stephanie (USA)   F   08:54:00         02:48:30PM
42356           Lawrence, Amy (USA)   F   08:55:18         02:51:02PM
42441       Richardson, Holly (USA)   F   08:51:01         02:47:56PM
42527      Simmons, Elizabeth (USA)   F   08:41:05         02:39:07PM
42807                Liu, Wei (CHN)   F   08:56:37         02:59:10PM
42970             Rice, Katie (USA)   F   08:43:50         02:49:21PM
43017        Adams, Elizabeth (USA)   F   08:37:17         02:44:10PM
43179            Cox, Heather (USA)   F   08:17:05         02:26:56PM
43185        Jacobson, Andrea (USA)   F   08:23:12         02:33:09PM
43196           Garcia, Maria (USA)   F   08:20:36         02:30:55PM
43519          Anderson, Sara (USA)   F   08:53:28         03:09:38PM
43588         Schmidt, Olivia (USA)   F   07:50:47         02:08:17PM
43634           Navarro, Cody (USA)   F   07:49:59         02:08:21PM
43733        Martin, Jennifer (USA)   F   08:51:58         03:13:00PM
43759            Murphy, Anna (USA)   F   08:40:01         03:01:30PM
43886         Romero, Mariana (MEX)   F   08:41:25         03:05:35PM
43923              King, Lisa (USA)   F   08:50:09         03:15:23PM
44197  Oberschneider, Marcela (USA)   F   08:43:28         03:16:16PM
44304        Cannon, Jennifer (USA)   F   08:53:27         03:29:47PM
44624          Jones, Jessica (USA)   F   08:15:26         03:23:49PM

      5k min/mile 10k min/mile 15k min/mile 20k min/mile Half min/mile  \
1034        06.44        06.43        06.41        06.44         06.39
2852        06.44        06.59        06.59        07.02         07.01
3690        07.37        07.29        07.31        07.33         07.34
3859        07.17        07.16        07.13        07.17         07.18
3981        07.13        07.10        07.04        07.15         07.27
4026        07.21        07.36        07.36        07.36         07.43
4191        06.56        06.48        06.57        07.08         07.15
4308        07.19        07.07        07.06        07.10         07.20
4707        07.24        07.30        07.27        07.36         07.37
4857        07.49        07.42        07.36        07.37         07.36
4858        06.59        06.57        07.03        06.59         07.05
4951        08.01        08.01        07.49        07.47         07.48
5237        07.21        07.18        07.17        07.26         07.29
5289        07.27        07.48        07.24        07.55         07.32
5437        07.38        07.56        07.58        07.59         07.48
5724        08.14        08.23        08.18        08.13         08.09
5794        07.22        07.29        07.28        07.38         07.47
5958        07.35        07.58        07.33        07.45         07.36
5983        07.33        07.38        07.41        07.39         07.35
6043        08.03        08.09        08.10        08.09         08.11
6684        08.22        08.19        08.11        08.10         08.03
7567        08.11        08.02        07.59        08.23         08.24
7791        07.59        08.15        08.01        08.03         08.19
7880        08.23        08.13        08.13        08.20         08.21
7886        07.30        07.43        07.44        07.52         08.29
7898        07.46        07.51        07.55        08.16         08.19
8137        09.06        08.37        08.23        08.25         08.29
8261        08.31        08.28        08.00        08.25         08.25
8440        07.59        08.03        08.08        08.22         08.08
8589        08.01        07.58        07.56        08.00         08.00
...           ...          ...          ...          ...           ...
41425       12.02        11.59        11.39        12.13         12.21
41454       10.53        11.07        11.56        12.54         15.34
41489       11.51        13.29        11.59        12.16         14.55
41541       10.36        10.08        11.21        12.48         11.05
41586       10.49        12.09        12.24        13.16         14.03
41614       09.43        11.00        10.41        10.56         12.34
41738       10.40        12.12        11.15        11.47         14.05
41803       12.19        13.45        12.20        12.33         15.09
41934       13.04        14.56        12.31        13.18         12.26
42134       12.45        12.10        13.06        12.18         12.46
42265       13.02        11.29        12.20        13.26         13.50
42356       13.08        13.44        12.37        12.42         12.39
42441       14.02        14.54        13.10        13.44         12.45
42527       11.18        11.30        11.45        12.36         11.34
42807       12.26        12.08        12.44        12.53         13.54
42970       11.30        14.18        11.58        13.30         12.43
43017       10.59        11.40        12.36        13.22         14.11
43179       12.29        13.17        12.22        13.38         12.44
43185       13.01        13.13        13.01        13.25         14.02
43196       12.21        12.25        11.11        11.26         12.02
43519       12.21        12.33        12.48        12.58         14.50
43588       12.21        13.10        13.42        13.21         13.43
43634       10.13        10.30        11.57        13.07         12.39
43733       12.57        11.53        11.56        14.14         15.35
43759       12.13        12.59        13.02        13.26         14.17
43886       12.53        14.17        13.45        14.11         16.09
43923       13.32        13.38        13.54        14.16         14.16
44197       13.41        15.34        15.23        15.19         15.54
44304       14.04        13.43        13.36        14.01         14.29
44624       12.34        14.30        13.44        16.54         15.42

      25k min/mile 30k min/mile 35k min/mile 40k min/mile Finish min/mile
1034         06.40        06.38        06.35        06.44           06.29
2852         07.09        07.25        07.43        07.57           07.54
3690         07.34        07.22        07.21        07.41           07.40
3859         07.29        07.40        08.00        08.11           08.07
3981         07.38        07.44        07.59        08.26           08.33
4026         07.43        07.44        07.40        07.48           07.19
4191         07.34        07.48        08.21        09.08           09.22
4308         07.39        07.54        08.16        08.39           08.43
4707         07.42        07.46        08.07        08.33           08.24
4857         07.35        07.45        08.05        08.20           08.05
4858         07.22        07.47        09.01        09.41           09.45
4951         07.47        07.50        07.47        07.50           07.33
5237         07.35        07.46        08.10        09.23           10.20
5289         07.53        07.37        09.06        08.17           07.54
5437         08.01        08.04        08.05        08.04           07.45
5724         07.54        07.44        07.50        07.43           07.12
5794         07.56        08.08        08.37        08.59           09.16
5958         07.41        08.26        08.31        08.51           08.23
5983         08.00        08.10        08.50        09.02           08.11
6043         08.07        08.10        08.06        07.53           07.41
6684         08.08        08.13        08.10        08.23           08.15
7567         08.32        08.38        08.49        08.57           08.36
7791         08.33        08.41        08.57        09.22           08.54
7880         08.27        08.42        08.50        08.53           08.44
7886         08.21        09.01        09.16        10.05           09.45
7898         08.25        08.39        08.59        09.47           09.43
8137         08.27        08.36        08.35        08.22           08.34
8261         08.31        08.49        08.42        09.19           08.36
8440         08.20        08.41        09.26        09.59           08.53
8589         08.14        08.26        08.58        11.23           09.39
...            ...          ...          ...          ...             ...
41425        12.13        13.43        15.10        15.45           12.58
41454        15.17        14.06        14.16        14.25           12.51
41489        12.44        13.24        14.33        14.11           13.12
41541        12.17        14.09        15.21        17.21           16.22
41586        13.32        14.21        14.08        14.25           13.31
41614        18.31        13.37        15.49        16.10           13.50
41738        11.46        15.11        17.01        16.04           12.12
41803        14.15        13.34        12.46        14.15           13.48
41934        12.58        12.50        13.01        14.08           13.38
42134        13.03        13.37        13.51        16.04           15.10
42265        15.05        14.41        14.21        14.13           13.12
42356        14.59        13.11        14.40        14.19           13.03
42441        12.45        12.46        13.41        13.50           13.49
42527        14.10        18.56        14.31        15.02           13.47
42807        13.55        14.47        15.17        16.11           14.33
42970        13.29        18.19        14.38        14.24           13.06
43017        16.50        15.32        15.31        15.41           14.49
43179        13.21        15.00        15.33        16.41           15.41
43185        13.47        16.02        15.06        15.24           13.51
43196        12.37        15.04        14.03        21.07           20.48
43519        13.33        13.56        15.13        18.29           20.28
43588        14.27        15.00        16.10        16.32           15.54
43634        15.38        18.20        17.41        17.37           17.00
43733        15.12        16.17        16.34        16.18           16.32
43759        15.34        15.31        15.57        16.51           17.11
43886        16.10        16.00        14.45        15.29           14.10
43923        14.25        15.34        16.08        16.02           15.03
44197        14.47        15.27        16.10        14.35           12.02
44304        15.52        16.07        17.17        16.41           14.53
44624        18.23        19.14        19.19        17.20           14.56

[399 rows x 14 columns]

In [57]:
nameRowsDF.shape

(399, 14)

In [59]:
#Find possible bib mules
# Select all duplicate rows based on one column
duponeRowsDF = paceue[paceue.duplicated(['Finish Time of Day'])]
print("Duplicate Rows based on 1 columns are:", duponeRowsDF, sep='\n')

Duplicate Rows based on 1 columns are:
                                    Name sex Start Time Finish Time of Day  \
86                     Leys, Dries (BEL)   M   07:30:03         09:58:58AM
100          Biebelhausen, Stephen (USA)   M   07:30:03         10:00:51AM
127                 Benard, Nathan (FRA)   M   07:31:14         10:03:56AM
161        Swiatkowski, Mieczyslaw (USA)   M   07:31:17         10:06:35AM
170                 Thoburn, Chris (USA)   M   07:30:03         10:06:04AM
190                Pavelko, Andrii (UKR)   M   07:31:14         10:08:31AM
203               Bareikis, Arturs (USA)   M   07:30:03         10:07:43AM
208                Mulvihill, John (IRL)   M   07:31:20         10:09:07AM
209                    Spak, Aaron (USA)   M   07:31:15         10:09:07AM
215                Tarbath, Forest (USA)   M   07:30:03         10:08:00AM
228               Talleri, William (ITA)   M   07:31:20         10:10:07AM
239                Ernst, Ekkehard (GER)   M   07:31:16         10:10:42AM
252                   Wagner, Alex (USA)   M   07:31:21         10:11:04AM
253                 Salzillo, Mark (USA)   M   07:31:39         10:11:25AM
255                 Royer, Dominic (CAN)   M   07:31:17         10:11:06AM
256                  Hsu, Li-Chieh (TWN)   M   07:31:18         10:11:08AM
258                 Soszka, Marcin (POL)   M   07:31:14         10:11:08AM
262    Sanchez Perez, Jose Antonio (ESP)   M   07:31:14         10:11:11AM
263                   Ilin, Sergei (RUS)   M   07:31:17         10:11:14AM
267                     Myrda, Jan (USA)   M   07:31:27         10:11:32AM
272                 Hojnacki, Jeff (USA)   M   07:31:27         10:11:44AM
280                 Bade, Jonathan (USA)   M   07:31:19         10:11:50AM
283                  Zhou, Qixiang (CHN)   M   07:31:24         10:11:58AM
292                 Yitref, Gedion (USA)   M   07:31:26         10:12:39AM
296               Hoffmann, Hayden (USA)   M   07:31:19         10:12:36AM
299     Santander Kuborn, Baptiste (CHI)   M   07:31:14         10:12:36AM
301                Minkarious, Jon (CAN)   M   07:31:46         10:13:11AM
310                Chen, Cheng Yen (TWN)   M   07:31:14         10:12:52AM
313                   Yernye, Seth (USA)   M   07:31:22         10:13:09AM
315        Bueno Gonzalez, Alberto (ESP)   M   07:31:14         10:13:11AM
...                                  ...  ..        ...                ...
44619            Romero, Elizabeth (USA)   F   08:22:14         03:29:52PM
44621                 Penick, Tina (USA)   F   08:22:11         03:29:58PM
44622                Ernst, Elvira (GER)   F   08:06:50         03:14:55PM
44625                  Degnan, Amy (USA)   F   08:15:26         03:23:49PM
44626               Scanlan, Emily (USA)   F   08:15:23         03:23:49PM
44627             Turner, Jennifer (USA)   F   08:20:45         03:29:23PM
44631                Young, Easter (USA)   F   08:21:59         03:31:47PM
44632             Massari, Chelsea (USA)   F   08:00:19         03:10:14PM
44633                Cecala, Nikki (USA)   F   08:18:06         03:28:32PM
44635              Romero, Maureen (USA)   F   08:22:18         03:32:54PM
44636              Miller, Carolyn (USA)   F   08:07:04         03:17:48PM
44638                Bonnie, Megan (USA)   F   08:00:46         03:12:44PM
44639           Daunheimer, Lauren (USA)   F   08:00:46         03:12:44PM
44640                Garcia, Celia (MEX)   F   08:03:28         03:15:53PM
44641                Toledo, Isela (USA)   F   08:03:28         03:15:53PM
44644           Kondrat, Elizabeth (USA)   F   08:15:36         03:28:38PM
44647               Andrade, Sonya (USA)   F   08:14:31         03:29:02PM
44648             Starke, Danielle (USA)   F   07:23:13         02:38:22PM
44650             Hampe, Elizabeth (USA)   F   08:00:33         03:17:11PM
44651                Johnson, Beth (USA)   F   08:11:04         03:28:46PM
44653             Smith, Christine (USA)   F   08:12:56         03:32:16PM
44654              Mullery, Alisha (USA)   F   07:50:30         03:12:02PM
44657               Puntillo, Kimi (USA)   F   07:41:07         03:05:51PM
44661            Mcintyre, Kathryn (USA)   F   07:30:03         03:00:43PM
44662                      Sun, Yu (CHN)   F   07:52:36         03:24:54PM
44664                Akins, Larken (USA)   F   07:51:53         03:28:34PM
44665              Maciel, Susanna (USA)   F   07:30:03         03:10:54PM
44666              Munsayac, Julie (USA)   F   07:38:57         03:20:47PM
44670               Byrnes, Lauren (USA)   F   07:23:15         03:22:26PM
44671                 Smith, Julie (USA)   F   07:23:14         03:22:26PM

      5k min/mile 10k min/mile 15k min/mile 20k min/mile Half min/mile  \
86          05.46        05.42        05.42        05.46         05.34
100         05.48        05.42        05.36        05.38         05.34
127         05.24        05.33        05.35        05.39         05.48
161         05.37        05.39        05.42        05.46         05.49
170         05.37        05.50        05.44        05.44         05.51
190         05.51        05.51        05.51        05.51         05.55
203         05.56        06.08        05.52        06.03         06.02
208         05.56        05.52        05.47        05.50         05.47
209         05.43        05.43        05.49        05.58         05.58
215         05.35        05.37        05.35        05.31         05.33
228         06.03        06.06        06.03        06.04         06.06
239         06.05        06.04        06.00        06.07         06.06
252         06.03        06.06        06.00        05.57         05.56
253         06.12        06.15        06.07        06.13         06.16
255         06.10        06.09        06.10        06.09         06.03
256         05.55        05.56        05.56        05.53         05.59
258         05.57        06.02        05.56        05.57         05.50
262         05.51        05.55        06.02        06.04         06.10
263         06.11        06.06        06.01        06.03         06.03
267         05.51        05.48        05.47        05.54         05.55
272         06.19        06.12        06.08        06.13         06.15
280         06.12        06.15        06.10        06.16         06.16
283         05.32        05.42        05.48        05.53         05.56
292         06.10        05.55        05.51        05.59         05.55
296         06.13        06.15        06.12        06.13         06.08
299         05.40        05.47        05.44        05.57         06.03
301         06.10        06.15        06.07        06.18         06.05
310         05.55        06.05        06.00        06.12         06.19
313         06.20        06.17        06.12        06.12         06.04
315         05.55        05.59        06.02        06.03         05.57
...           ...          ...          ...          ...           ...
44619       12.21        13.29        14.01        14.59         15.49
44621       14.24        16.15        15.53        16.06         16.36
44622       14.20        15.02        15.26        15.50         15.28
44625       12.34        14.29        13.44        14.36         15.11
44626       12.35        14.30        13.44        16.54         15.42
44627       14.17        15.08        15.07        15.59         16.05
44631       13.46        14.48        14.56        16.18         16.16
44632       13.14        14.57        14.56        15.49         20.14
44633       12.17        14.41        14.54        16.43         16.04
44635       13.47        15.08        15.21        16.00         14.44
44636       12.52        16.55        15.43        15.51         19.52
44638       11.53        15.04        14.17        15.20         15.59
44639       11.53        15.04        14.17        15.20         15.59
44640       13.45        15.06        15.16        16.28         16.49
44641       13.45        15.06        15.16        16.28         16.48
44644       13.55        14.13        15.36        15.36         17.23
44647       13.38        15.05        15.39        15.58         15.57
44648       14.31        14.53        14.05        15.00         15.00
44650       13.21        15.20        15.07        16.55         17.46
44651       13.33        15.19        16.19        18.01         16.40
44653       12.41        13.22        14.27        16.26         18.08
44654       15.03        15.31        15.08        15.42         21.40
44657       14.22        17.16        15.02        16.44         24.02
44661       26.42        15.17        14.38        15.32         17.04
44662       12.14        19.08        18.37        19.49         14.24
44664       14.33        15.21        15.57        17.41         19.05
44665       33.59        11.41        12.44        13.29         14.04
44666       15.23        15.34        15.22        16.55         16.52
44670       15.32        17.24        17.51        17.00         38.56
44671       15.32        17.24        17.51        17.00         38.56

      25k min/mile 30k min/mile 35k min/mile 40k min/mile Finish min/mile
86           05.40        05.38        05.36        05.44           05.37
100          05.34        05.35        05.39        06.03           06.51
127          05.45        05.52        06.10        06.26           06.26
161          05.55        06.00        06.18        06.24           06.11
170          06.06        06.05        06.11        06.21           06.11
190          05.58        06.03        06.11        06.21           06.13
203          05.57        05.59        06.03        06.06           06.10
208          05.48        05.51        06.08        06.38           06.53
209          06.02        06.04        06.22        06.30           06.09
215          06.12        06.16        06.42        06.46           06.27
228          06.07        06.02        05.58        06.07           06.04
239          06.09        06.07        06.02        06.08           06.08
252          05.46        05.56        06.11        06.28           06.50
253          06.14        06.09        06.00        05.49           05.40
255          06.05        06.00        06.02        06.07           05.59
256          06.15        06.18        06.18        06.18           06.17
258          05.56        05.54        06.09        06.32           07.13
262          06.13        06.05        06.15        06.19           06.27
263          06.10        06.09        06.09        06.07           06.01
267          06.00        06.03        06.12        06.50           07.13
272          06.14        06.08        06.00        05.52           05.49
280          06.13        06.09        06.00        05.52           05.53
283          05.57        06.09        06.27        07.04           07.16
292          05.44        05.53        06.08        06.42           08.05
296          06.11        06.10        06.08        06.05           05.44
299          06.11        06.10        06.25        07.05           06.55
301          06.08        06.06        06.07        06.08           06.11
310          06.22        06.10        06.19        06.24           06.00
313          06.06        06.00        06.05        06.12           06.18
315          06.07        06.04        06.16        06.40           07.05
...            ...          ...          ...          ...             ...
44619        16.03        17.51        19.48        20.42           19.19
44621        17.08        16.32        17.44        17.11           15.06
44622        16.45        16.56        17.29        18.49           17.04
44625        15.21        16.26        26.55        17.20           14.56
44626        18.23        19.14        19.19        17.20           14.56
44627        16.44        17.14        17.42        17.57           18.14
44631        16.41        17.55        17.51        18.54           16.40
44632        17.15        18.42        18.24        17.13           16.34
44633        18.52        17.31        18.18        18.13           17.37
44635        18.41        17.10        17.44        18.35           16.07
44636        16.04        18.58        17.34        17.04           15.34
44638        17.00        20.30        18.26        18.57           17.53
44639        17.00        20.30        18.27        18.56           17.53
44640        17.19        17.47        18.10        17.39           17.47
44641        17.20        17.47        18.09        17.40           17.48
44644        16.43        17.27        19.41        18.37           17.00
44647        17.10        17.29        17.58        19.03           18.36
44648        17.34        18.39        18.56        19.38           16.51
44650        16.46        17.40        18.31        18.38           18.20
44651        16.51        19.07        17.45        16.38           16.51
44653        19.50        18.52        18.29        20.04           17.24
44654        16.47        16.58        17.48        20.14           18.02
44657        16.23        19.13        17.41        17.33           16.35
44661        16.04        16.13        16.22        16.43           16.47
44662        17.56        19.08        17.47        15.34           14.04
44664        19.09        19.14        18.01        18.21           19.56
44665        23.56        15.25        15.40        16.51           15.23
44666        19.51        21.53        19.21        17.18           17.34
44670        18.59        17.50        19.01        18.38           17.23
44671        18.58        17.50        19.01        18.38           17.23

[28117 rows x 14 columns]

In [60]:
duponeRowsDF.shape

(28117, 14)

Based on duplicates people finishing at the same time of day I got 28,117 results way too many.

In [61]:
#Find possible bib mules.  People carrying someone elses bib to get them a boston qualifier
# Select all duplicate rows based on two columns
duptwoRowsDF = paceue[paceue.duplicated(['Start Time','Finish Time of Day'])]
print("Duplicate Rows based on a 2 columns are:", duptwoRowsDF, sep='\n')

Duplicate Rows based on a 2 columns are:
                                     Name sex Start Time Finish Time of Day  \
215                 Tarbath, Forest (USA)   M   07:30:03         10:08:00AM
381                  Umhau, Bennett (USA)   M   07:31:19         10:15:19AM
500                  Silva, Marcelo (BRA)   M   07:31:48         10:18:41AM
542               Calliari, Michele (ITA)   M   07:31:23         10:19:12AM
570                    Sutley, Ryan (USA)   M   07:31:18         10:19:39AM
605          Bergesen, Morten Weber (NOR)   M   07:31:25         10:20:15AM
726      Gonzalez Guerrero, Benigno (ESP)   M   07:31:30         10:22:24AM
772    Ortega Marsiglia, Juan Pablo (CHI)   M   07:31:16         10:22:53AM
823                     Mann, Shaun (GBR)   M   07:31:23         10:23:48AM
843                   Rotundo, Mark (USA)   M   07:31:43         10:24:21AM
951                      Cheng, Min (USA)   M   07:31:20         10:25:19AM
1023                  Kawas, Daniel (MEX)   M   07:34:48         10:29:27AM
1355                   Rushek, Mark (USA)   M   07:34:07         10:31:49AM
1484                 Redman, Andrew (AUS)   M   07:33:35         10:32:15AM
1537                   Zhu, Yongbin (CHN)   M   07:31:51         10:30:47AM
1616                   King, Wesley (USA)   M   07:33:58         10:33:18AM
1876               Rosenberg, Logan (USA)   M   07:33:53         10:35:35AM
1987               Thomson, Michael (USA)   M   07:34:29         10:37:27AM
2011                    Huang, Bill (CHN)   M   07:39:04         10:42:17AM
2202             Hunsucker, Matthew (USA)   M   07:31:59         10:36:52AM
2406   Betancor Alamo, Armando Luis (ESP)   M   07:31:42         10:38:43AM
2448                  Suit, Dickson (USA)   M   07:33:40         10:41:02AM
2594                  Cvijic, Darko (SRB)   M   07:34:40         10:43:09AM
2698                Smallwood, Alex (CAN)   M   07:31:47         10:41:11AM
2724                  Ross, Timothy (USA)   M   07:32:25         10:42:00AM
2727                 Falcone, Brian (USA)   M   07:32:25         10:42:00AM
2838            Kongmalai, Artiwara (THA)   M   07:35:06         10:45:34AM
2880                 Moreno, Miguel (COL)   M   07:34:30         10:45:19AM
2954             Stevanovic, Mladen (BIH)   M   07:33:56         10:45:20AM
3084    Mendez De La Maza, Jeronimo (ESP)   M   07:34:37         10:47:04AM
...                                   ...  ..        ...                ...
44205                   Melo, Linda (USA)   F   08:54:29         03:27:24PM
44209            Garmendiz, Melissa (USA)   F   08:54:08         03:27:17PM
44210               Rodriguez, Olga (PUR)   F   08:54:08         03:27:17PM
44239                    Lee, Julie (USA)   F   08:47:24         03:21:28PM
44285              Woltanski, Laura (USA)   F   08:55:54         03:31:37PM
44307              Turcios, Yesenia (USA)   F   08:10:01         02:46:30PM
44316            Jackson, Stephanie (USA)   F   07:51:28         02:28:10PM
44321     Norbis De Bacchini, Maria (USA)   F   08:51:46         03:28:38PM
44402                Huang, Yishiun (TWN)   F   07:50:12         02:30:33PM
44406              Figaro, Kimberly (USA)   F   08:49:02         03:29:33PM
44420               Dugan, Jennifer (USA)   F   07:23:03         02:04:35PM
44442                Klauser, Laura (USA)   F   08:23:43         03:06:39PM
44445              Hernandez, Linda (USA)   F   08:17:47         03:00:51PM
44459                 Matula, Megan (USA)   F   08:46:30         03:30:26PM
44478                 Weirich, Anne (USA)   F   08:21:48         03:07:30PM
44494                Schoff, Maggie (USA)   F   08:41:48         03:28:42PM
44526                 Onofre, Erika (USA)   F   08:36:12         03:25:53PM
44544                      Ly, Ngoc (USA)   F   07:51:39         02:44:40PM
44547                  Bibian, Rosa (USA)   F   08:03:14         02:56:34PM
44548   Atuesta Bustamante, Adriana (COL)   F   08:37:57         03:31:20PM
44555               Hadaway, Tamara (USA)   F   08:22:23         03:16:20PM
44558            Robinson, Veronica (USA)   F   08:11:14         03:05:55PM
44563                Mathai, Tesnie (USA)   F   08:22:29         03:17:45PM
44593                  Johnson, Kay (USA)   F   08:17:42         03:20:18PM
44605           Seeto, Hannah Hazel (PHI)   F   08:23:25         03:29:01PM
44625                   Degnan, Amy (USA)   F   08:15:26         03:23:49PM
44639            Daunheimer, Lauren (USA)   F   08:00:46         03:12:44PM
44641                 Toledo, Isela (USA)   F   08:03:28         03:15:53PM
44648              Starke, Danielle (USA)   F   07:23:13         02:38:22PM
44653              Smith, Christine (USA)   F   08:12:56         03:32:16PM

      5k min/mile 10k min/mile 15k min/mile 20k min/mile Half min/mile  \
215         05.35        05.37        05.35        05.31         05.33
381         06.27        06.23        06.26        06.12         06.09
500         06.22        06.22        06.16        06.18         06.10
542         06.09        06.15        06.15        06.15         06.19
570         06.21        06.14        06.15        06.20         06.14
605         06.24        06.34        06.31        06.24         06.28
726         06.26        06.29        06.24        06.25         06.24
772         06.24        06.39        06.35        06.40         06.40
823         06.38        06.27        06.25        06.27         06.24
843         06.41        06.34        06.27        06.26         06.29
951         06.35        06.34        06.29        06.38         06.42
1023        07.03        06.53        06.44        06.46         06.30
1355        06.55        06.54        06.43        06.42         06.35
1484        06.46        06.50        06.48        06.51         06.53
1537        06.37        06.40        06.40        06.45         06.49
1616        06.41        06.48        06.48        06.51         06.51
1876        06.41        06.50        06.48        06.51         06.52
1987        06.51        06.52        06.48        06.50         06.54
2011        07.16        07.00        06.46        06.55         06.52
2202        07.10        07.18        06.40        07.06         07.01
2406        06.59        06.58        06.53        07.01         07.12
2448        07.08        07.12        07.01        07.02         06.55
2594        07.11        07.08        06.58        07.05         07.02
2698        07.17        07.20        07.12        07.14         07.15
2724        07.08        07.15        07.14        07.12         07.09
2727        07.08        07.15        07.14        07.12         07.08
2838        06.48        07.00        07.01        07.07         07.10
2880        07.01        07.05        07.10        07.11         07.16
2954        07.09        07.02        06.58        07.08         07.11
3084        06.38        06.46        06.45        06.51         06.53
...           ...          ...          ...          ...           ...
44205       13.27        12.36        14.38        15.11         17.14
44209       13.43        14.38        13.41        14.49         15.25
44210       13.43        14.38        13.41        14.48         15.31
44239       11.55        11.01        11.59        13.44         14.03
44285       13.44        14.11        14.13        15.56         14.45
44307       09.48        11.21        10.49        14.02         12.19
44316       13.13        15.53        14.28        14.24         14.39
44321       12.58        15.29        13.27        14.23         18.38
44402       11.35        12.27        15.05        14.48         13.29
44406       14.09        16.07        14.52        16.07         15.41
44420       12.26        14.41        14.05        16.00         14.52
44442       13.48        15.32        14.14        16.13         14.56
44445       12.42        13.54        14.30        15.25         16.30
44459       13.04        13.22        15.08        15.32         14.16
44478       13.48        14.49        14.14        14.42         15.08
44494       13.52        15.44        14.09        14.12         14.54
44526       11.42        12.44        12.53        14.34         13.53
44544       11.48        12.48        13.03        14.53         13.47
44547       11.20        13.19        13.27        16.32         15.14
44548       12.48        16.42        13.51        14.35         28.42
44555       12.29        14.50        13.54        15.30         17.00
44558       12.21        15.09        14.19        16.12         15.49
44563       12.27        14.32        14.39        15.30         14.46
44593       12.29        14.52        14.25        15.04         15.21
44605       13.40        14.19        14.12        15.35         29.23
44625       12.34        14.29        13.44        14.36         15.11
44639       11.53        15.04        14.17        15.20         15.59
44641       13.45        15.06        15.16        16.28         16.48
44648       14.31        14.53        14.05        15.00         15.00
44653       12.41        13.22        14.27        16.26         18.08

      25k min/mile 30k min/mile 35k min/mile 40k min/mile Finish min/mile
215          06.12        06.16        06.42        06.46           06.27
381          06.08        06.12        06.06        06.12           06.14
500          06.50        06.20        06.22        06.20           06.15
542          06.22        06.18        06.32        06.56           06.56
570          06.16        06.17        06.27        06.50           07.22
605          06.26        06.28        06.25        06.22           06.28
726          06.25        06.29        06.31        06.49           07.04
772          06.35        06.36        06.36        06.27           06.18
823          06.29        06.31        06.41        06.50           07.05
843          06.27        06.30        06.33        06.41           07.28
951          06.43        06.43        06.46        06.42           06.36
1023         06.36        06.34        06.28        06.30           06.13
1355         06.50        06.47        06.48        06.48           06.31
1484         06.59        06.53        06.54        06.46           06.26
1537         06.55        06.54        07.03        07.05           06.54
1616         06.59        06.53        06.53        06.57           06.46
1876         06.59        06.53        06.55        06.58           08.21
1987         06.52        06.54        06.56        07.26           07.49
2011         06.53        06.57        07.00        07.08           07.05
2202         07.05        07.03        07.02        07.10           06.50
2406         07.14        07.11        07.15        07.27           07.30
2448         07.05        07.05        07.12        07.20           07.31
2594         07.06        07.10        07.22        07.27           07.29
2698         07.04        07.13        07.10        07.15           07.24
2724         07.10        07.14        07.19        07.19           07.20
2727         07.11        07.14        07.19        07.20           07.20
2838         07.14        07.15        07.31        08.01           07.52
2880         07.17        07.16        07.18        07.43           07.51
2954         07.14        07.27        07.38        07.49           07.25
3084         06.58        07.26        08.18        09.07           07.18
...            ...          ...          ...          ...             ...
44205        15.04        16.41        15.51        17.18           12.00
44209        15.59        16.13        16.11        16.07           12.13
44210        15.56        16.12        16.12        16.05           12.22
44239        15.39        15.48        21.32        18.55           15.13
44285        16.26        15.24        15.44        15.25           15.20
44307        16.56        18.43        18.31        21.26           16.09
44316        16.57        15.23        16.07        15.30           14.24
44321        14.48        15.53        15.40        16.14           18.26
44402        16.17        17.53        17.36        17.09           15.13
44406        15.14        15.21        15.50        14.51           14.28
44420        15.48        16.31        17.11        15.51           15.48
44442        15.48        15.36        15.55        15.59           15.35
44445        17.32        17.11        14.53        18.03           13.21
44459        17.23        16.08        17.03        16.39           14.40
44478        18.04        16.30        16.17        16.11           15.17
44494        16.35        16.56        16.09        16.49           15.49
44526        15.53        18.31        18.46        19.41           17.17
44544        15.05        17.38        19.47        20.04           18.33
44547        17.17        15.53        16.44        20.40           18.58
44548        17.25        15.39        17.41        15.16           15.13
44555        16.05        14.50        16.39        19.00           22.20
44558        16.26        17.23        17.05        17.12           17.13
44563        16.28        18.36        17.53        17.37           14.30
44593        16.05        16.45        18.10        20.09           18.48
44605        16.02        17.30        18.51        17.46           14.05
44625        15.21        16.26        26.55        17.20           14.56
44639        17.00        20.30        18.27        18.56           17.53
44641        17.20        17.47        18.09        17.40           17.48
44648        17.34        18.39        18.56        19.38           16.51
44653        19.50        18.52        18.29        20.04           17.24

[1055 rows x 14 columns]

In [62]:
duptwoRowsDF.shape

(1055, 14)

Based on Start time and finish time all the same I got 1,055 results.

In [64]:
paceue = paceue[paceue["Finish Time of Day"].duplicated(keep=False)]

a = paceue.groupby("Finish Time of Day").apply(lambda x: list(x.index))

In [65]:
print(a)  #Over 11,000 duplicate finish times.

Finish Time of Day
01:00:00PM                                       [17526, 31746]
01:00:01PM                  [18152, 18763, 19295, 20035, 37375]
01:00:02PM                         [14737, 35599, 35679, 37144]
01:00:03PM                  [13848, 20248, 31871, 34264, 34511]
01:00:04PM    [18537, 31536, 31709, 31762, 32422, 34775, 353...
01:00:05PM                                       [18175, 32261]
01:00:09PM                         [17844, 20984, 32210, 36770]
01:00:10PM                         [17455, 30408, 34334, 34335]
01:00:12PM                                       [32167, 38214]
01:00:13PM                                       [14526, 19098]
01:00:17PM           [18969, 19247, 31011, 35630, 36146, 36229]
01:00:18PM                                       [32391, 36143]
01:00:19PM                         [20071, 32362, 38409, 38494]
01:00:20PM                                [16759, 17489, 31763]
01:00:21PM                                [12548, 17798, 31098]
01:00:22PM                                       [30904, 36835]
01:00:23PM                                       [31825, 31853]
01:00:24PM                                [14158, 15166, 21116]
01:00:25PM                                [31241, 32531, 39910]
01:00:26PM                         [18022, 30953, 34610, 36858]
01:00:27PM                  [18073, 19285, 31820, 34692, 35923]
01:00:28PM                                       [35483, 36039]
01:00:29PM                                [32048, 32380, 32430]
01:00:30PM                  [17369, 17955, 20030, 36171, 36827]
01:00:31PM                         [14928, 15147, 20251, 31867]
01:00:32PM                         [14427, 34675, 35247, 36462]
01:00:33PM                                [18545, 32492, 34553]
01:00:34PM                                [14266, 15018, 31991]
01:00:35PM                                [21010, 21117, 36479]
01:00:36PM                                [31386, 34480, 35107]
                                    ...
12:59:20PM                                [17971, 32254, 35781]
12:59:21PM                                       [17277, 17633]
12:59:22PM                                       [31818, 34974]
12:59:24PM                                [14748, 17620, 36422]
12:59:25PM                                [16668, 34695, 35385]
12:59:26PM                                       [18508, 32072]
12:59:27PM                         [15053, 34159, 35141, 35506]
12:59:28PM                                [13857, 34479, 35469]
12:59:30PM                                [18105, 35011, 36066]
12:59:31PM                                       [17330, 19248]
12:59:32PM                  [16617, 17396, 31357, 32396, 35450]
12:59:33PM                                       [17902, 30250]
12:59:34PM                  [17141, 18004, 32347, 35027, 35357]
12:59:35PM                                [14971, 17726, 32359]
12:59:36PM                                [13809, 14833, 35242]
12:59:37PM                  [14377, 15022, 19102, 19294, 35520]
12:59:39PM                                [16823, 34575, 35481]
12:59:41PM           [16630, 20045, 34557, 34986, 34987, 40348]
12:59:42PM                         [17214, 18067, 18068, 34889]
12:59:43PM                                [17702, 34414, 36480]
12:59:46PM                         [15087, 31779, 34886, 34888]
12:59:47PM                                       [14040, 17601]
12:59:49PM                                       [17303, 31753]
12:59:50PM                  [17569, 18892, 30363, 32219, 38312]
12:59:52PM                                [18249, 32409, 34344]
12:59:53PM                                [11893, 17835, 34332]
12:59:54PM                         [17429, 18641, 31615, 35044]
12:59:56PM                                [21192, 34787, 37172]
12:59:57PM                         [14372, 18601, 36287, 40190]
12:59:58PM                  [13582, 17272, 18878, 32077, 36374]
Length: 11999, dtype: object

In [66]:
bibmule = paceue[paceue.duplicated(subset=['Start Time','Finish Time of Day'], keep=False)]
len(bibmule)

2075

In [67]:
print(bibmule)   #Able to get over 2000 results using 2 columns for bibmules.  Need another filter.

                                     Name sex Start Time Finish Time of Day  \
94                 Johnson, Spencer (USA)   M   07:30:03         09:59:47AM
166                  Butcher, Brian (USA)   M   07:30:03         10:05:43AM
214                    Bell, Samuel (USA)   M   07:30:03         10:08:00AM
215                 Tarbath, Forest (USA)   M   07:30:03         10:08:00AM
379                 Diviney, Ciaran (IRL)   M   07:31:19         10:15:19AM
381                  Umhau, Bennett (USA)   M   07:31:19         10:15:19AM
451               Baddiley, Nicolas (AUS)   M   07:30:03         10:15:40AM
499            Evangelista, Gustavo (BRA)   M   07:31:48         10:18:41AM
500                  Silva, Marcelo (BRA)   M   07:31:48         10:18:41AM
541                       Ho, David (SWE)   M   07:31:23         10:19:12AM
542               Calliari, Michele (ITA)   M   07:31:23         10:19:12AM
569                   Grimsbu, Mads (NOR)   M   07:31:18         10:19:39AM
570                    Sutley, Ryan (USA)   M   07:31:18         10:19:39AM
603                  Belda, Rodrigo (NOR)   M   07:31:25         10:20:15AM
605          Bergesen, Morten Weber (NOR)   M   07:31:25         10:20:15AM
724                   Taggi, Andrea (ITA)   M   07:31:30         10:22:24AM
726      Gonzalez Guerrero, Benigno (ESP)   M   07:31:30         10:22:24AM
770                   Clift, Fraser (CAN)   M   07:31:16         10:22:53AM
772    Ortega Marsiglia, Juan Pablo (CHI)   M   07:31:16         10:22:53AM
821               Alderton, Richard (USA)   M   07:31:23         10:23:48AM
823                     Mann, Shaun (GBR)   M   07:31:23         10:23:48AM
842                  Keller, Reuben (USA)   M   07:31:43         10:24:21AM
843                   Rotundo, Mark (USA)   M   07:31:43         10:24:21AM
925                  Osacky, Nelson (USA)   M   07:31:16         10:24:58AM
950                      Lau, Gavin (GBR)   M   07:31:20         10:25:19AM
951                      Cheng, Min (USA)   M   07:31:20         10:25:19AM
1022                   Ramos, Jorge (MEX)   M   07:34:48         10:29:27AM
1023                  Kawas, Daniel (MEX)   M   07:34:48         10:29:27AM
1354                  Smith, Nelson (USA)   M   07:34:07         10:31:49AM
1355                   Rushek, Mark (USA)   M   07:34:07         10:31:49AM
...                                   ...  ..        ...                ...
44441                Collins, Katie (USA)   F   08:23:43         03:06:39PM
44442                Klauser, Laura (USA)   F   08:23:43         03:06:39PM
44444           Valdivia, Guadalupe (USA)   F   08:17:47         03:00:51PM
44445              Hernandez, Linda (USA)   F   08:17:47         03:00:51PM
44457              Spencer, Sabrina (USA)   F   08:46:30         03:30:26PM
44459                 Matula, Megan (USA)   F   08:46:30         03:30:26PM
44477                Garcia, Esther (USA)   F   08:21:48         03:07:30PM
44478                 Weirich, Anne (USA)   F   08:21:48         03:07:30PM
44494                Schoff, Maggie (USA)   F   08:41:48         03:28:42PM
44525                 Onofre, Amada (USA)   F   08:36:12         03:25:53PM
44526                 Onofre, Erika (USA)   F   08:36:12         03:25:53PM
44544                      Ly, Ngoc (USA)   F   07:51:39         02:44:40PM
44547                  Bibian, Rosa (USA)   F   08:03:14         02:56:34PM
44548   Atuesta Bustamante, Adriana (COL)   F   08:37:57         03:31:20PM
44555               Hadaway, Tamara (USA)   F   08:22:23         03:16:20PM
44557             Mitchell, Cynthia (USA)   F   08:11:14         03:05:55PM
44558            Robinson, Veronica (USA)   F   08:11:14         03:05:55PM
44562            Santiago, Nannette (USA)   F   08:22:29         03:17:45PM
44563                Mathai, Tesnie (USA)   F   08:22:29         03:17:45PM
44592              Johnson, Carolon (USA)   F   08:17:42         03:20:18PM
44593                  Johnson, Kay (USA)   F   08:17:42         03:20:18PM
44605           Seeto, Hannah Hazel (PHI)   F   08:23:25         03:29:01PM
44624                Jones, Jessica (USA)   F   08:15:26         03:23:49PM
44625                   Degnan, Amy (USA)   F   08:15:26         03:23:49PM
44638                 Bonnie, Megan (USA)   F   08:00:46         03:12:44PM
44639            Daunheimer, Lauren (USA)   F   08:00:46         03:12:44PM
44640                 Garcia, Celia (MEX)   F   08:03:28         03:15:53PM
44641                 Toledo, Isela (USA)   F   08:03:28         03:15:53PM
44648              Starke, Danielle (USA)   F   07:23:13         02:38:22PM
44653              Smith, Christine (USA)   F   08:12:56         03:32:16PM

      5k min/mile 10k min/mile 15k min/mile 20k min/mile Half min/mile  \
94          05.22        05.19        05.18        05.22         05.21
166         06.07        06.08        05.49        05.51         05.51
214         05.48        05.55        05.56        05.58         05.58
215         05.35        05.37        05.35        05.31         05.33
379         06.11        06.09        06.12        06.36         06.12
381         06.27        06.23        06.26        06.12         06.09
451         06.07        06.00        06.06        06.13         06.14
499         06.22        06.22        06.16        06.19         06.10
500         06.22        06.22        06.16        06.18         06.10
541         06.15        06.13        06.12        06.16         06.20
542         06.09        06.15        06.15        06.15         06.19
569         06.25        06.28        06.20        06.28         06.28
570         06.21        06.14        06.15        06.20         06.14
603         06.24        06.34        06.31        06.26         06.26
605         06.24        06.34        06.31        06.24         06.28
724         06.26        06.29        06.24        06.26         06.22
726         06.26        06.29        06.24        06.25         06.24
770         06.14        06.19        06.18        06.23         06.28
772         06.24        06.39        06.35        06.40         06.40
821         06.28        06.40        06.32        06.41         06.36
823         06.38        06.27        06.25        06.27         06.24
842         06.26        06.25        06.19        06.22         06.25
843         06.41        06.34        06.27        06.26         06.29
925         06.37        06.35        06.36        06.39         06.35
950         06.39        06.45        06.44        06.47         06.45
951         06.35        06.34        06.29        06.38         06.42
1022        07.03        06.53        06.44        06.46         06.30
1023        07.03        06.53        06.44        06.46         06.30
1354        06.55        06.54        06.43        06.42         06.35
1355        06.55        06.54        06.43        06.42         06.35
...           ...          ...          ...          ...           ...
44441       13.48        15.32        14.13        16.14         14.53
44442       13.48        15.32        14.14        16.13         14.56
44444       13.56        15.10        14.44        14.58         16.51
44445       12.42        13.54        14.30        15.25         16.30
44457       13.04        13.22        15.08        15.31         14.07
44459       13.04        13.22        15.08        15.32         14.16
44477       13.48        14.50        14.13        14.42         15.09
44478       13.48        14.49        14.14        14.42         15.08
44494       13.52        15.44        14.09        14.12         14.54
44525       11.42        12.44        12.53        14.34         13.53
44526       11.42        12.44        12.53        14.34         13.53
44544       11.48        12.48        13.03        14.53         13.47
44547       11.20        13.19        13.27        16.32         15.14
44548       12.48        16.42        13.51        14.35         28.42
44555       12.29        14.50        13.54        15.30         17.00
44557       12.21        15.09        14.19        16.12         15.29
44558       12.21        15.09        14.19        16.12         15.49
44562       12.27        14.32        14.39        15.30         14.47
44563       12.27        14.32        14.39        15.30         14.46
44592       12.29        14.52        14.25        15.04         15.22
44593       12.29        14.52        14.25        15.04         15.21
44605       13.40        14.19        14.12        15.35         29.23
44624       12.34        14.30        13.44        16.54         15.42
44625       12.34        14.29        13.44        14.36         15.11
44638       11.53        15.04        14.17        15.20         15.59
44639       11.53        15.04        14.17        15.20         15.59
44640       13.45        15.06        15.16        16.28         16.49
44641       13.45        15.06        15.16        16.28         16.48
44648       14.31        14.53        14.05        15.00         15.00
44653       12.41        13.22        14.27        16.26         18.08

      25k min/mile 30k min/mile 35k min/mile 40k min/mile Finish min/mile
94           05.21        05.23        05.58        06.45           07.52
166          05.51        05.50        05.54        06.04           05.57
214          06.00        05.58        06.05        06.24           06.29
215          06.12        06.16        06.42        06.46           06.27
379          06.14        06.16        06.16        06.15           06.10
381          06.08        06.12        06.06        06.12           06.14
451          06.23        06.22        06.28        06.42           06.54
499          06.49        06.21        06.22        06.20           06.15
500          06.50        06.20        06.22        06.20           06.15
541          06.24        06.29        06.35        06.46           06.40
542          06.22        06.18        06.32        06.56           06.56
569          06.31        06.24        06.26        06.29           06.16
570          06.16        06.17        06.27        06.50           07.22
603          06.26        06.28        06.25        06.25           06.18
605          06.26        06.28        06.25        06.22           06.28
724          06.25        06.29        06.32        06.49           07.02
726          06.25        06.29        06.31        06.49           07.04
770          06.26        06.26        06.39        07.19           07.18
772          06.35        06.36        06.36        06.27           06.18
821          06.43        06.40        06.34        06.33           06.17
823          06.29        06.31        06.41        06.50           07.05
842          06.26        06.26        06.41        07.12           07.39
843          06.27        06.30        06.33        06.41           07.28
925          06.40        06.36        06.41        06.41           06.40
950          06.45        06.39        06.28        06.26           06.28
951          06.43        06.43        06.46        06.42           06.36
1022         06.36        06.34        06.27        06.30           06.14
1023         06.36        06.34        06.28        06.30           06.13
1354         06.50        06.47        06.48        06.48           06.31
1355         06.50        06.47        06.48        06.48           06.31
...            ...          ...          ...          ...             ...
44441        15.47        15.37        15.55        15.59           15.35
44442        15.48        15.36        15.55        15.59           15.35
44444        15.08        16.40        14.53        18.03           13.21
44445        17.32        17.11        14.53        18.03           13.21
44457        17.22        16.07        17.07        16.37           14.44
44459        17.23        16.08        17.03        16.39           14.40
44477        18.04        16.30        16.16        16.11           15.17
44478        18.04        16.30        16.17        16.11           15.17
44494        16.35        16.56        16.09        16.49           15.49
44525        15.53        18.31        18.46        19.41           17.17
44526        15.53        18.31        18.46        19.41           17.17
44544        15.05        17.38        19.47        20.04           18.33
44547        17.17        15.53        16.44        20.40           18.58
44548        17.25        15.39        17.41        15.16           15.13
44555        16.05        14.50        16.39        19.00           22.20
44557        16.31        17.12        17.15        17.12           17.13
44558        16.26        17.23        17.05        17.12           17.13
44562        16.27        18.36        17.54        17.37           14.30
44563        16.28        18.36        17.53        17.37           14.30
44592        16.04        16.45        18.10        20.09           18.48
44593        16.05        16.45        18.10        20.09           18.48
44605        16.02        17.30        18.51        17.46           14.05
44624        18.23        19.14        19.19        17.20           14.56
44625        15.21        16.26        26.55        17.20           14.56
44638        17.00        20.30        18.26        18.57           17.53
44639        17.00        20.30        18.27        18.56           17.53
44640        17.19        17.47        18.10        17.39           17.47
44641        17.20        17.47        18.09        17.40           17.48
44648        17.34        18.39        18.56        19.38           16.51
44653        19.50        18.52        18.29        20.04           17.24

[2075 rows x 14 columns]

In [68]:
bibmule = paceue[paceue.duplicated(subset=['Start Time','Finish Time of Day', '5k min/mile', '10k min/mile', '15k min/mile', '20k min/mile', 'Half min/mile','25k min/mile', '30k min/mile', '35k min/mile', '40k min/mile'], keep=False)]
len(bibmule)

310

With more features was able to narrow it down to almost 300 Hard to narrow down lower without looking through all the pictures

In [69]:
print(bibmule)  #With more features was able to narrow it down to almost 300 Hard to narrow down lower without looking through all the pictures

                                  Name sex Start Time Finish Time of Day  \
1354               Smith, Nelson (USA)   M   07:34:07         10:31:49AM
1355                Rushek, Mark (USA)   M   07:34:07         10:31:49AM
1535                  Ding, Zuyu (CHN)   M   07:31:51         10:30:47AM
1537                Zhu, Yongbin (CHN)   M   07:31:51         10:30:47AM
2264               Schuster, Tim (USA)   M   07:34:42         10:40:19AM
2423             Lindblade, Kris (USA)   M   07:42:03         10:49:15AM
3104              Oreglia, Diego (ITA)   M   07:38:25         10:51:04AM
3541             Touloupas, John (USA)   M   07:41:35         10:57:29AM
4646               Bene, Patrick (USA)   M   07:38:07         11:01:54AM
4647                Bene, George (USA)   M   07:38:07         11:01:54AM
4973          Balsalobre, Carlos (ESP)   M   07:42:47         11:08:23AM
4974         Balsalobre, Ignacio (ESP)   M   07:42:47         11:08:23AM
5206            Nichols, Matthew (USA)   M   07:42:06         11:09:08AM
5304                Toupin, Hugo (CAN)   M   07:42:33         11:10:08AM
7098               Ford, Michael (USA)   M   07:52:35         11:31:04AM
7272                Zenner, John (USA)   M   08:16:20         11:55:46AM
8126              Nyman, Charles (USA)   M   08:02:56         11:47:17AM
8128               Nyman, Andrew (GBR)   M   08:02:56         11:47:17AM
8572            Hakenes, Michael (GER)   M   07:52:44         11:39:38AM
8573              Niehus, Henrik (GER)   M   07:52:44         11:39:38AM
8602                 Misek, Glen (USA)   M   07:41:39         11:28:43AM
9420              Brown, Michael (USA)   M   08:05:12         11:56:15AM
9655            Stegenga, Jorrit (NED)   M   07:52:07         11:44:21AM
9656                 Hekman, Bas (NED)   M   07:52:07         11:44:21AM
9698             Connelly, Chris (USA)   M   07:42:59         11:35:24AM
9700             Aguilera, Jorge (USA)   M   07:42:59         11:35:24AM
9792                 Ko, Matthew (USA)   M   08:02:51         11:55:51AM
10143               Flack, Logan (USA)   M   08:01:58         11:56:36AM
10167          Cole, Christopher (USA)   M   08:03:49         11:58:31AM
10244              Chavez, Jesus (MEX)   M   08:02:14         11:57:16AM
...                                ...  ..        ...                ...
40464            O'Grady, Mariya (USA)   F   08:20:52         01:51:55PM
40465           O'Grady, Therese (USA)   F   08:20:52         01:51:55PM
40778            Dubosky, Meagan (USA)   F   08:55:02         02:29:56PM
40779              Hagman, Holly (USA)   F   08:55:02         02:29:56PM
40950             Tomuta, Sabina (USA)   F   08:39:49         02:16:42PM
41329            Castro, Jessica (VEN)   F   08:41:30         02:23:16PM
41396        Gonzalez, Jacquelyn (USA)   F   08:21:16         02:04:01PM
41422               Belbin, Tina (CAN)   F   08:47:21         02:30:19PM
41665               Outly, Megan (USA)   F   08:42:01         02:28:10PM
41704        Rios-Rubio, Yesenia (USA)   F   08:22:01         02:08:43PM
41705                Phalen, Kim (USA)   F   08:22:01         02:08:43PM
41708                Ford, Grace (USA)   F   08:22:10         02:08:55PM
41709               Schick, Anna (USA)   F   08:22:10         02:08:55PM
41777     Saylor- Farley, Kristi (USA)   F   08:42:27         02:30:07PM
41968          Fabugais, Bethann (USA)   F   08:23:21         02:13:27PM
42330           Denike, Jennifer (USA)   F   08:48:15         02:43:40PM
42331                 Hall, Beth (USA)   F   08:48:15         02:43:40PM
42943             Loretizo, Gina (USA)   F   08:41:32         02:46:29PM
43408              Brown, Shayne (USA)   F   08:21:37         02:35:53PM
43409         Danskin, Elizabeth (USA)   F   08:21:37         02:35:53PM
43459     Agnew Rothwell, Sharon (IRL)   F   08:17:10         02:32:14PM
43460               Agnew, Linda (USA)   F   08:17:10         02:32:14PM
43470               Dicker, Erin (USA)   F   08:51:47         03:07:04PM
43472             Dicker, Brandi (USA)   F   08:51:47         03:07:04PM
43473  Hartigan-Bolen, Bridgette (USA)   F   08:40:46         02:56:05PM
43474             Menke, Natalie (USA)   F   08:40:46         02:56:05PM
43786           Filander, Leslie (AUS)   F   08:51:53         03:13:52PM
44525              Onofre, Amada (USA)   F   08:36:12         03:25:53PM
44526              Onofre, Erika (USA)   F   08:36:12         03:25:53PM
44605        Seeto, Hannah Hazel (PHI)   F   08:23:25         03:29:01PM

      5k min/mile 10k min/mile 15k min/mile 20k min/mile Half min/mile  \
1354        06.55        06.54        06.43        06.42         06.35
1355        06.55        06.54        06.43        06.42         06.35
1535        06.37        06.40        06.40        06.45         06.49
1537        06.37        06.40        06.40        06.45         06.49
2264        07.03        07.12        07.07        07.10         06.58
2423        07.15        07.16        07.11        07.16         07.19
3104        07.24        07.23        07.19        07.20         07.19
3541        07.47        07.26        07.22        07.27         07.26
4646        07.41        07.51        07.37        07.40         07.37
4647        07.41        07.51        07.37        07.40         07.37
4973        08.10        07.54        07.54        07.52         07.55
4974        08.10        07.54        07.54        07.52         07.55
5206        07.56        07.45        07.40        07.41         08.00
5304        08.01        07.48        07.48        07.59         07.58
7098        08.03        08.04        08.05        08.16         08.18
7272        08.31        09.06        08.05        08.21         07.59
8126        08.32        08.24        08.25        08.30         08.39
8128        08.32        08.24        08.25        08.30         08.39
8572        08.38        08.51        08.46        08.42         08.47
8573        08.38        08.51        08.46        08.42         08.47
8602        07.57        08.05        08.00        08.08         08.20
9420        09.07        08.57        08.33        08.46         08.42
9655        09.06        09.03        08.52        08.44         08.45
9656        09.06        09.03        08.52        08.44         08.45
9698        08.35        08.57        08.30        08.41         08.44
9700        08.35        08.57        08.30        08.41         08.44
9792        08.49        08.34        08.43        09.16         08.49
10143       09.16        09.02        08.48        08.46         08.56
10167       08.18        08.20        08.12        08.18         08.31
10244       09.14        08.55        08.31        08.28         08.33
...           ...          ...          ...          ...           ...
40464       10.38        11.17        12.10        12.09         12.57
40465       10.38        11.17        12.10        12.09         12.57
40778       11.46        13.42        13.01        12.16         12.01
40779       11.46        13.42        13.01        12.16         12.01
40950       11.48        11.17        11.24        12.43         11.56
41329       11.22        13.18        11.19        11.27         12.09
41396       11.33        11.58        11.56        12.25         12.52
41422       11.02        11.40        11.11        11.54         12.38
41665       11.42        11.46        11.38        11.50         12.08
41704       11.27        12.34        11.37        14.00         16.28
41705       11.27        12.34        11.37        14.00         16.28
41708       13.03        13.57        12.37        13.00         13.02
41709       13.03        13.57        12.37        13.00         13.02
41777       11.29        12.02        12.00        12.04         12.39
41968       11.57        11.43        11.59        13.24         13.41
42330       12.05        11.57        12.01        12.40         14.34
42331       12.05        11.57        12.01        12.40         14.34
42943       11.48        12.26        13.12        14.48         14.38
43408       12.15        12.16        12.33        13.51         14.43
43409       12.15        12.16        12.33        13.51         14.43
43459       12.05        12.06        12.34        13.33         14.20
43460       12.05        12.06        12.34        13.33         14.20
43470       13.46        14.50        13.59        14.10         13.48
43472       13.46        14.50        13.59        14.10         13.48
43473       11.48        12.30        13.36        13.28         14.13
43474       11.48        12.30        13.36        13.28         14.13
43786       12.15        13.07        13.22        14.42         14.02
44525       11.42        12.44        12.53        14.34         13.53
44526       11.42        12.44        12.53        14.34         13.53
44605       13.40        14.19        14.12        15.35         29.23

      25k min/mile 30k min/mile 35k min/mile 40k min/mile Finish min/mile
1354         06.50        06.47        06.48        06.48           06.31
1355         06.50        06.47        06.48        06.48           06.31
1535         06.55        06.54        07.03        07.05           06.54
1537         06.55        06.54        07.03        07.05           06.54
2264         07.09        07.10        07.02        07.00           06.45
2423         07.11        07.09        07.03        07.00           06.39
3104         07.19        07.16        07.23        07.27           07.19
3541         07.20        07.26        07.32        07.38           07.10
4646         07.46        07.49        07.57        07.55           07.50
4647         07.46        07.49        07.57        07.55           07.50
4973         07.51        07.55        07.45        07.43           07.09
4974         07.51        07.55        07.45        07.43           07.09
5206         08.00        07.57        07.58        08.31           07.24
5304         08.02        07.58        07.59        07.53           07.49
7098         08.16        08.28        08.43        08.46           08.23
7272         07.56        07.51        08.42        08.29           08.22
8126         08.27        08.46        09.03        08.29           08.17
8128         08.27        08.46        09.03        08.29           08.17
8572         08.47        08.37        08.29        08.32           08.27
8573         08.47        08.37        08.29        08.32           08.28
8602         08.37        09.03        09.30        09.44           09.25
9420         08.42        08.49        08.49        08.55           08.38
9655         08.47        08.47        08.49        08.56           08.32
9656         08.47        08.47        08.49        08.56           08.32
9698         09.28        08.49        09.07        09.02           08.48
9700         09.28        08.49        09.07        09.02           08.48
9792         08.50        08.44        09.02        09.11           08.52
10143        08.48        09.04        09.04        09.06           08.19
10167        08.30        09.08        09.11        10.47           11.04
10244        08.45        08.56        09.19        09.32           09.18
...            ...          ...          ...          ...             ...
40464        13.24        13.38        13.38        13.56           13.23
40465        13.24        13.38        13.38        13.56           13.23
40778        12.41        13.52        12.57        12.29           11.56
40779        12.41        13.52        12.57        12.29           11.56
40950        12.10        13.05        14.35        15.56           12.38
41329        12.45        13.04        14.17        15.23           16.34
41396        13.00        14.30        14.12        14.49           13.41
41422        12.37        15.00        15.25        15.16           14.28
41665        12.08        14.40        16.44        14.31           14.46
41704        12.15        14.28        13.53        14.59           12.35
41705        12.15        14.28        13.53        14.59           12.35
41708        13.12        13.58        13.17        13.30           11.41
41709        13.12        13.58        13.17        13.30           11.41
41777        13.58        13.58        15.08        15.32           13.47
41968        13.52        14.52        13.51        14.45           14.32
42330        13.21        15.02        15.45        15.52           12.22
42331        13.21        15.02        15.45        15.52           12.23
42943        15.36        14.35        14.11        14.43           14.35
43408        15.07        15.42        14.59        17.33           14.26
43409        15.07        15.42        14.59        17.33           14.26
43459        16.40        15.19        16.26        16.03           14.49
43460        16.40        15.19        16.26        16.03           14.49
43470        15.13        14.21        14.04        14.57           13.16
43472        15.13        14.21        14.04        14.57           13.16
43473        14.25        15.46        16.00        16.34           15.23
43474        14.25        15.46        16.00        16.34           15.23
43786        15.07        15.40        16.15        16.17           14.46
44525        15.53        18.31        18.46        19.41           17.17
44526        15.53        18.31        18.46        19.41           17.17
44605        16.02        17.30        18.51        17.46           14.05

[310 rows x 14 columns]

Getting names of all possible bibmules

In [71]:
list(bibmule['Name'])

['Smith, Nelson (USA)',
 'Rushek, Mark (USA)',
 'Ding, Zuyu (CHN)',
 'Zhu, Yongbin (CHN)',
 'Schuster, Tim (USA)',
 'Lindblade, Kris (USA)',
 'Oreglia, Diego (ITA)',
 'Touloupas, John (USA)',
 'Bene, Patrick (USA)',
 'Bene, George (USA)',
 'Balsalobre, Carlos (ESP)',
 'Balsalobre, Ignacio (ESP)',
 'Nichols, Matthew (USA)',
 'Toupin, Hugo (CAN)',
 'Ford, Michael (USA)',
 'Zenner, John (USA)',
 'Nyman, Charles (USA)',
 'Nyman, Andrew (GBR)',
 'Hakenes, Michael (GER)',
 'Niehus, Henrik (GER)',
 'Misek, Glen (USA)',
 'Brown, Michael (USA)',
 'Stegenga, Jorrit (NED)',
 'Hekman, Bas (NED)',
 'Connelly, Chris (USA)',
 'Aguilera, Jorge (USA)',
 'Ko, Matthew (USA)',
 'Flack, Logan (USA)',
 'Cole, Christopher (USA)',
 'Chavez, Jesus (MEX)',
 'Noonan, Eddie (USA)',
 'Domingo, Jose (ESP)',
 'Villa, Pedro (COL)',
 'Branch, Phillip (AFG)',
 'Maqueda, Javier (ESP)',
 'Torres Fink, Eduardo (ESP)',
 'De Rooij, Sebastiaan (NED)',
 'Niessen, Jan (NED)',
 'Fernandez, Amador (MEX)',
 'Booth, William (USA)',
 'Bargfrede, Benjamin (USA)',
 'Fitz, Bryant (USA)',
 'Diaz, Juan (USA)',
 'Vaillancourt, Kevin (USA)',
 'Cheifet, Jon (USA)',
 'Oblack, Brett (USA)',
 'Mieske, Marc (USA)',
 'Lansmann, David (FRA)',
 'Melbardis, Rolands (LAT)',
 'Nords, Aigars (LAT)',
 'Sawyer, Bennett (USA)',
 'Gahan, Paul (NZL)',
 'Castillo, Rogelio (MEX)',
 'Calderon, Ricardo (MEX)',
 'Hahn, Jeff (USA)',
 'Gilmore, Ken (USA)',
 'Ortega Gutierrez, Miguel (ESP)',
 'Hernandez Ramos, Ignacio (ESP)',
 'Maibach, Andrew (USA)',
 'Rouan, Jonathan (USA)',
 'Lares, Jesus (MEX)',
 'Wolf, Adam (USA)',
 'Wolf, David (USA)',
 'Bohl, Daniel (USA)',
 'Hedell, Jesper (SWE)',
 'Dukich, Luka (USA)',
 'Andreychak, Christian (USA)',
 'Jones, David (USA)',
 'Reichek, Max (USA)',
 'Cannell, Will (USA)',
 'Rakestraw, Ty (USA)',
 'Rakestraw, Dylan (USA)',
 'Macleod, William (USA)',
 'Buchanan, John (USA)',
 'Buchanan, Shane (USA)',
 'Mccarthy, John (USA)',
 'Granato, Robert (USA)',
 'Trowbridge Iii, Calvin (USA)',
 'Moriarty, Michael (USA)',
 'Edler, John (USA)',
 'Macchiarola, Frank (USA)',
 'Sant, Kyle (USA)',
 'Tragella, Claudio (ITA)',
 'Counts, Travis (USA)',
 'Noland, David (USA)',
 'Oh, Trystan (USA)',
 'Lopes, Ronaldo (BRA)',
 'Goebel, Kurtis (USA)',
 'Bhattacharya, Kirin (USA)',
 'Bhattacharya, Deven (USA)',
 'Nakamura, Sean (USA)',
 'Hodgkinson, Philip (USA)',
 'Tan, Jonathan (USA)',
 'Dawo, Markus (GER)',
 'Vargas, Gerardo (USA)',
 'Tung, Shihchan (TWN)',
 "O'Connor, Christopher (USA)",
 'Frohlich, Leon (USA)',
 'Lo, Kuei (TWN)',
 'Polito, John (USA)',
 'Wilberg, Robert (USA)',
 'Work, Austin (USA)',
 'Tomuta, Christopher (USA)',
 'Mejias, Pablo (VEN)',
 'Patron, David (USA)',
 'Medina, Eduardo (MEX)',
 'Gonzalez, Ramon (USA)',
 'Belbin, Scott (CAN)',
 'Ferguson, John (USA)',
 'Johnson, Clark (USA)',
 'Fabugais, Vincent (PHI)',
 'Tank, Moulik (USA)',
 'Ramanan, Natesan (USA)',
 'Berenis, Paulius (LTU)',
 'Filander, Keith (AUS)',
 'Seeto, Rodolfo (USA)',
 'Hall, Kaitlyn (USA)',
 'Bondell, Allison (USA)',
 'Diehl, Emily (USA)',
 'Eakin, Laura (USA)',
 'Agu, Valentina (ITA)',
 'Baddour, Helen (USA)',
 'Fogle, Michelle (USA)',
 'Turner, Natalie (USA)',
 "O'Kane, Alexandra (USA)",
 'Johnson, Kaitlyn (USA)',
 'Smith, Jenn (USA)',
 'Hoffman, Cassandra (USA)',
 'Warrick, Taylor (USA)',
 'Lahaie, Julie (CAN)',
 'How-Choong, Isabelle (CAN)',
 'Ferron, Catherine (CAN)',
 'Ford, Stephanie (USA)',
 'Zenner, Veronica (USA)',
 'Couch, Devin (USA)',
 'Blackwell, Joanna (USA)',
 'Dubnicek, Lindsay (USA)',
 'Morris, Shonda (USA)',
 'Duddy, Eliza (USA)',
 'Brown, Jessie (USA)',
 'Ortiz Ruiz, Rebeca (ESP)',
 'Gonzalez, Laura (ESP)',
 'Jones, Amy (USA)',
 'Jones, Amber (USA)',
 'Ban, Francois (USA)',
 'Carcich, Kimberly (USA)',
 'Stelzer, Erin (USA)',
 'Thevis, Johanna (GER)',
 'Keshwari, Shaida (GER)',
 'Delpiccolo, Brooke (USA)',
 'Cole, Connie (USA)',
 'De Alba, Lorena (MEX)',
 'Vershinina, Olga (USA)',
 'Meseck, Kerrin (USA)',
 'Blegen, Ann (USA)',
 'Matilla, Ana (ESP)',
 'Barbosa, Roberta (BRA)',
 'Lowe, Lacey (USA)',
 'Howe, Margaret (USA)',
 'Akin, Tulin (USA)',
 'Yu, Congcong (CAN)',
 'Shao, Hong Jing (CAN)',
 'Gonzalez, Diana (MEX)',
 'Booth, Jihwa (USA)',
 'Dotters, Alison (USA)',
 'Attia, Jill (USA)',
 'Tiefenthaler, Natalie (USA)',
 'Pudenz, Kelsey (USA)',
 'Hermann Bargfrede, Anika (USA)',
 'Braun, Allison (USA)',
 'Gagis, Abigail (USA)',
 'Shea, Amanda (USA)',
 'Lennox, Elizabeth (USA)',
 'Goodburn, Zoe (GBR)',
 'Beazley, Carla (USA)',
 'Alvarez, Erika (USA)',
 'Hamann, Angie (USA)',
 'Gallagher, Krystal (USA)',
 'Mccool, Shannon (USA)',
 'Beau, Emeline (FRA)',
 'Mckibben, Courtney (USA)',
 'Montgomery, Maryanne (USA)',
 'Karol, Courtney (USA)',
 'Gahan, Hayley (NZL)',
 'Triana, Lucila (MEX)',
 'Teran, Maria Alejandra (MEX)',
 'Martinez, Taylor (USA)',
 'Martinez, Sara (USA)',
 'Iwaniuk, Andrea (USA)',
 'Volkmann, Kaley (USA)',
 'Mathis, Sara (USA)',
 'Leger, Kristin (USA)',
 'Villa, Lilia Rosa (MEX)',
 'Aranguren, Cindy (USA)',
 'Maldia, Jem (PHI)',
 'Bohl, Lisa (USA)',
 'Parmenter, Brett (USA)',
 'Agustsson, Diana (USA)',
 'Hedell, Emmy (SWE)',
 'Bing, Kaylin (USA)',
 'Gould, Haley (USA)',
 'Zachar, Margaret (USA)',
 'Javors, Alexa (USA)',
 'Cavanaugh, Katie (USA)',
 'Demarco, Lisa (CAN)',
 'Giacalone, Mare (CAN)',
 'Andreychak, Elaina (USA)',
 'Lally, Chloe (IRL)',
 'Fabbrini, Bridget (USA)',
 'Jones, Ashley (USA)',
 'Reichek, Jennifer (USA)',
 'Walsh, Kathleen (USA)',
 'Macleod, Christine (USA)',
 'Mccarthy, Marla (USA)',
 'Granato, Amy (USA)',
 'Santiago, Piedad (USA)',
 'Mix, Evelyn (USA)',
 'Bolton, Christina (USA)',
 'Herrero, Sara (USA)',
 'Rozema, Kierstynn (USA)',
 'Rylaarsdam, Erin (USA)',
 'Trowbridge, Alexandra (USA)',
 'Hernandez, Shannon (USA)',
 'Gruber, Rebecca (USA)',
 'Doyle, Julie (USA)',
 'Edler, Pamela (USA)',
 'Macchiarola, Sarah (USA)',
 'Sant, Allegis (USA)',
 'Buson, Sonia (ITA)',
 'Counts, Sophie (USA)',
 'Noland, Victoria (USA)',
 'Oh, Jessica (USA)',
 'Macisaac, Caroline (USA)',
 'Macisaac, Elizabeth (USA)',
 'Nogueira, Camila (BRA)',
 'Goebel, Shannon (USA)',
 'Nakamura, Jenny (USA)',
 'Hodgkinson, Martha (USA)',
 'Hsu, Grace (USA)',
 'Madero, Monica (MEX)',
 'Del Conde, Adriana (MEX)',
 'Pal, Andrea (USA)',
 'Istoc, Ioana (USA)',
 'Piper, Nabila (NZL)',
 'Piper, Geraldine (IRL)',
 'Trybula, Rachel (USA)',
 'Stockham, Alexandra (GBR)',
 'Felsberg, Madlen (GER)',
 'Tomasik, Amanda (USA)',
 'Wolfe, Sharon (USA)',
 'Westmoreland, Desiree (USA)',
 'Thompson, Jean (USA)',
 'Robinson, Ashley (USA)',
 'Chen, Wei Ching (TWN)',
 'Butts, Lisa (USA)',
 'Kane, Jodi (USA)',
 'Pansoy, Andrea (CAN)',
 'Kaffee, Michelle (USA)',
 'Cisneros, Maggie (USA)',
 'Sammons, Kim (USA)',
 'Vanderhoeven, Erica (USA)',
 'Macleod, Tara (IRL)',
 'Ni Chonghaola, Aine (USA)',
 'Frohlich, Irene (USA)',
 'Salgado, Eva (USA)',
 'Flett, Heather (USA)',
 'Lemley, Cassidy (USA)',
 'Moore, Alli (USA)',
 'Weber, Renate (GER)',
 'Ibarra, Mireya (MEX)',
 'Groft, Djan (USA)',
 'Forry, Cynthia (USA)',
 'Lo, Chia-Yu (USA)',
 'Hodous, Celeste (USA)',
 'Wilberg, Amie (USA)',
 'Jenkot, Jessica (USA)',
 'Jenkot, Julie (USA)',
 'Gibbons, Jennifer (USA)',
 'Rossworn, Debra (USA)',
 'Childress, Kathy (USA)',
 "O'Grady, Mariya (USA)",
 "O'Grady, Therese (USA)",
 'Dubosky, Meagan (USA)',
 'Hagman, Holly (USA)',
 'Tomuta, Sabina (USA)',
 'Castro, Jessica (VEN)',
 'Gonzalez, Jacquelyn (USA)',
 'Belbin, Tina (CAN)',
 'Outly, Megan (USA)',
 'Rios-Rubio, Yesenia (USA)',
 'Phalen, Kim (USA)',
 'Ford, Grace (USA)',
 'Schick, Anna (USA)',
 'Saylor- Farley, Kristi (USA)',
 'Fabugais, Bethann (USA)',
 'Denike, Jennifer (USA)',
 'Hall, Beth (USA)',
 'Loretizo, Gina (USA)',
 'Brown, Shayne (USA)',
 'Danskin, Elizabeth (USA)',
 'Agnew Rothwell, Sharon (IRL)',
 'Agnew, Linda (USA)',
 'Dicker, Erin (USA)',
 'Dicker, Brandi (USA)',
 'Hartigan-Bolen, Bridgette (USA)',
 'Menke, Natalie (USA)',
 'Filander, Leslie (AUS)',
 'Onofre, Amada (USA)',
 'Onofre, Erika (USA)',
 'Seeto, Hannah Hazel (PHI)']

## More ideas for capstone project

Explain Boston Marathon  
Significance  
Boston marathon qualifying times maybe just limit it to this.  
Marathon Stats
Taken from (Run Repeat website)[https://runrepeat.com/state-of-running]  

Running has grown by 57% over the past 10 years, which is great, but any sport, as it attracts the masses, will have a period of decline. We cannot say if this is a short-term trend or a long term one. Of course, the industry should be alert.

10 years ago, running a marathon was the ultimate goal for many athletes. Not many did it. It attracted a certain audience. Then a group of less experienced athletes joined the pack and proved that they could do it as well. The trend kept going, and at some point, the the extreme athletes did not find the marathon extreme anymore. They did not feel special, which was an important element of running the marathon. Because of this, the ultramarathon, trail running, the Ironman and so on exploded in popularity.

The motives for running are potentially changing, and the races have not picked up on this trend. There are quite a few indicators of this. In our report, we prove how 1) running at milestone ages (30, 40, 50, 60) is significantly less important in 2019 than it was 15 years ago, 2) people travel more than ever to race and 3) the finish times are slower. With people being slower, it's not the individual who's getting slower, but the average of all runners, meaning that the "demography" has changed. More slow runners participate. These three indicate a growth in the experience economy rather than achievement-motives. This is very important, we think, and we think that the industry hasn't been good enough at adjusting their races.  

Taken from (Bizjournals)[https://www.bizjournals.com/chicago/news/2019/10/02/bank-of-america-chicago-marathon-economic-impact.html]

The Bank of America Chicago Marathon said it had a record economic impact on the city last year.  

Marathon officials on Wednesday said the 2018 event contributed a record-breaking $378 million to the cityâ€™s economy, a $40-million increase over the 2017 race.  

The raceâ€™s 2018 economic impact marked the second year in a row that the total figure exceeded $300 million â€” positively impacting tourism, hospitality and a multitude of businesses throughout the city.

Taken from (Investopedia)[https://www.investopedia.com/articles/investing/100815/economics-behind-marathons.asp]

Marathons, surprisingly, are a relatively inelastic good. Registration fees are up, yet more people participate in running events each year. Some of the elite races, such as the New York City Marathon, are able to charge $11 for entry into a selection lottery just for a chance to participate in the actual marathon, which commands a whopping $255 registration fee.    

What Is Inelastic?  
Inelastic is an economic term referring to the static quantity of a good or service when its price changes. Inelastic means that when the price goes up, consumersâ€™ buying habits stay about the same, and when the price goes down, consumersâ€™ buying habits also remain unchanged.

The Bottom Line  
While modern marathon racing is over a century old, the participation numbers have increased wildly in the past decade. As more people embrace the healthy benefits of running, along with its low-cost and minimal barriers to entry, marathon organizers are shaping up to see their numbers continue to grow each year.

# Boston Qualifying times

Male  
AGE GROUP	QUALIFYING STANDARD	QUALIFICATION TIMES ACCEPTED (faster than and including)  
18-34	3hrs 00min 00sec	2hrs 58min 21sec  
35-39	3hrs 05min 00sec	3hrs 03min 21sec  
40-44	3hrs 10min 00sec	3hrs 08min 21sec  
45-49	3hrs 20min 00sec	3hrs 18min 21sec  
50-54	3hrs 25min 00sec	3hrs 23min 21sec  
55-59	3hrs 35min 00sec	3hrs 33min 21sec  
60-64	3hrs 50min 00sec	3hrs 48min 21sec  
65-69	4hrs 05min 00sec	4hrs 03min 21sec  
70-74	4hrs 20min 00sec	4hrs 18min 21sec  
75-79	4hrs 35min 00sec	4hrs 33min 21sec  
80 and over	4hrs 50min 00sec	4hrs 48min 21sec  

Female  
AGE GROUP	QUALIFYING STANDARD	QUALIFICATION TIMES ACCEPTED (faster than and including)  
18-34	3hrs 30min 00sec	3hrs 28min 21sec  
35-39	3hrs 35min 00sec	3hrs 33min 21sec  
40-44	3hrs 40min 00sec	3hrs 38min 21sec  
45-49	3hrs 50min 00sec	3hrs 48min 21sec  
50-54	3hrs 55min 00sec	3hrs 53min 21sec  
55-59	4hrs 05min 00sec	4hrs 03min 21sec  
60-64	4hrs 20min 00sec	4hrs 18min 21sec  
65-69	4hrs 35min 00sec	4hrs 33min 21sec  
70-74	4hrs 50min 00sec	4hrs 48min 21sec  
75-79	5hrs 05min 00sec	5hrs 03min 21sec  
80 and over	5hrs 20min 00sec	5hrs 18min 21sec  


* Qualified entrants for the 2020 Boston Marathon must have met the designated time standard that corresponds with their age group and gender in a certified marathon on or after September 15, 2018. Proof of qualification must accompany each athlete's application, and participants are required to be 18 years or older on Boston Marathon race day.    

The qualifying window for the 2021 Boston Marathon began on Saturday, September 14, 2019, and will continue through the conclusion of 2021 Boston Marathon registration next fall. Registration dates for the 2021 Boston Marathon will be announced next year.     

Decided to limit it to times under 4:35 if someone over 70 wants to run Boston or 80 more power to him.  Now everyone else play fair.